@charset "utf-8";
/* CSS Document */
img {
	display:inline-block;
	border:none;}
a{
	text-decoration:none;
	display:inline-block;}
a:hover{
	color:red;
	text-decoration:underline;}
ul,li{
	list-style:none;
	}
.adbg{
	background-color:#f05d49 !important;}
*{
	margin:0;
	padding:0;}
body{
	font-family:"微软雅黑";
	background:url(../images/bg_01.png)}
#wrap{
	position:relative;width: 1000px;margin: 0 auto;}
.header{
	width:1000px;
	margin:0 auto;
	padding:70px 0 40px 0;
	text-align:center;}
.p1{
	font-size:50px;
	color:#f05d49;}
.edu{
	width:100%;
	heigh:108px;
	font-size:30px;
	color:#fff;
	margin:56px 0 38px 0; 
	display:inline-block;
	}
.p2{
	height:80px;
	width:200px;
	float:left;
	text-align:center;
	margin:0 34px;
	padding:14px 48px;
	background-color:#4393f4;}
.edu img{
	float:left;
	margin-top:60px;
}
.dujia{
	width:880px;
	margin:0 auto;
	font-size:20px;
	color:#f05d49;
	line-height:36px;
	text-align:justify;}
.dujia span{
	width:200px;
	display:block;
	font-size:35px;
	margin:0 auto;
	padding-bottom:36px;
	}
.nav{
	width:1000px;
	margin:0 auto;
	height:50px;	
	background-color:#4393f4;}
.nav ul{
	width:100%;
	height:100%;
	display:block;
	text-align:center;
	}
.nav ul li{
	display:inline-block;
	*zoom:1;
	*display:inline;
	border-left:2px #cac9c9 solid;
	padding:10px 26px;
	margin-top:5px;
	}
.nav ul li a{
	color:#fff;}
.bor{
	border-right:2px #cac9c9 solid;
	}
.titl{
	width:1000px;
	height:46px;
	margin:36px auto 40px;
	background:url(../images/titbg_03.png) center repeat-x;
	}
.titl a{
	width:200px;
	height:46px;
	margin:0 auto;
	color:#fff;
	display:block;
	font-size:30px;
	line-height:46px;
	text-align:center;
	text-decoration:none;
	background-color:#4393f4;
	}
.cont{
	width:926px;
	height:670px;
	margin:0 auto;
	}
.left{
	float:left;
	width:502px;
	margin-right:22px;
	display:inline-block;}
.right{
	float:right;
	width:402px;
	display:inline-block;}
.left-top{
	width:500px;
	height:355px;
	margin-bottom:28px;
	overflow:hidden;
	position:relative;
	border:1px #4393f4 solid;}
.left-topcont img{
	width:502px;
	height:357px;}
.left-top .lw,.left-top .rw{
	cursor:pointer;
	position:absolute;
	top:150px;}
.lw{
	left:0;}
.rw{
	right:0;}
.left-topcont{
	width:5000px;
	height:355px;}
.right-top{
	width:400px;
	height:150px; 
	background-color:#fff;
	margin-bottom:28px;
	border:1px #4393f4 solid;}
.right-top ul{
	margin-top:25px;}
.right-top li a{
	display:block;
	width:300px;
	color:#082f71;
	padding-left:20px;
	margin:16px 0 0 40px;
	background:url(../images/dot.png) no-repeat center left;}
.left-bot{
	width:500px;
	height:283px;
	color:#082f71;
	background-color:#fff;
	border:1px #4393f4 solid;}
.yanzhao{
	height:260px;
	float:left;
	width:205px;
	margin-left:35px;
	line-height:36px;}
.fright{
	width:205px;
	height:260px;
	float:right;
	line-height:36px;
	margin-right:35px;
	}
.yanzhao span,.fright span{
	display:block;
	width:147px;
	height:51px;
	margin:0 auto;
	text-align:center;
	line-height:51px;
	font-size:25px;
	color:#fff;
	background:url(../images/img_04.png);}
.ul1{
	font-size:18px;
	margin:30px auto 0;}
.ul2{
	font-size:18px;
	margin:30px auto 0;}
.ul1 a,.ul2 a{
	color:#082f71;}
.u1{
	float:left;
	text-align:right;
	padding-right:16px;}
.u2{
	float:left;
	text-align:left;
	padding-left:16px;
	border-left:1px dashed red;}
.right-bot{
	width:400px;
	height:488px;
	border:1px #4393f4 solid;}
.fenshu{
	height:56px;
	font-size:25px;
	color:#fff;
	text-align:center;
	line-height:56px;
	background-color:#4393f4;}

.right-bot ul{
	width:325px;
	margin:20px 0 0 36px;
	}
.right-bot ul li a{
	display:inline-block;
	color:#082f71;
	font-size:20px;
	line-height:40px;
	padding-left:14px;
	background:url(../images/dot.png) no-repeat center left;
	}
.year{
	width:920px;
	height:175px;
	padding-top:28px;
	background-color:#fff;
	margin:0 auto 40px;
	border:1px solid #4393f4;
	position:relative;}
.year p{
	width:250px;
	height:42px;
	font-size:22px;
	color:#fff;
	line-height:42px;
	text-indent:20px;
	margin-bottom:26px;
	background: url(../images/img_05.png) 100% no-repeat;
	}
.yearwrap{
	width:636px;
	height:44px;
	margin:0 auto;
	overflow:hidden;
	}
.zuo{
	cursor:pointer;
	position:absolute;
	top:100px;
	left:40px;
	}
.you{
	cursor:pointer;
	position:absolute;
	top:100px;
	right:40px;}
.acont{
	width:10000px;}
.yearwrap a{
	width:86px;
	height:44px;
	color:#fff;
	float:left;
	margin-right:20px;
	font-size:20px;
	line-height:44px;
	text-align:center;
	display:inline-block;
	background-color:#4393f4;}
.each{
	width:918px;
	height:380px;
	margin:0 auto;
	padding-top:28px;
	border:1px solid #4393f4;
	background-color:#fff;}
.each p{
	width:346px;
	height:42px;
	font-size:22px;
	color:#fff;
	line-height:42px;
	text-indent:20px;
	margin-bottom:26px;
	background: url(../images/img_05.png) no-repeat left;}
.schl{
	width:100%;
	height:222px;
	font-size:18px;
	border-top:1px solid #4393f4;
	border-bottom:none;
	margin-bottom:40px;
	overflow:hidden;}
.schlwrap{
	height:1000px;}
.zi{
	float:left;
	width:306px;
	border-bottom:1px solid #4393f4;}
.zi span{ 
	display:block;
	width:75px;
	height:36px;
	color:#fff;
	padding-left:20px;
	padding-right:20px;
	text-align:center;
	line-height:36px;
	background-color:#4393f4;}
.zi span,.zi a{
	float:left;}
.zi a{
	color:#082f71;
	line-height:36px;
	margin-left:15px;}
.y{
	border-right:1px solid #4393f4;}
.tu{
	width:920px;
	padding-top:28px;
	border:1px solid #4393f4;
	background-color:#fff;
	margin:0 auto;
	position:relative;}
.tu p{
	width:280px;
	height:42px;
	font-size:22px;
	color:#fff;
	line-height:42px;
	text-indent:20px;
	margin-bottom:26px;
	background: url(../images/img_05.png) 100% no-repeat;
	}
.lunwrap,.lun2wrap{
	height:550px;
	overflow:hidden;}
.lun2wrap{
    height:620px;
}
.lun,.lun2{
	height:10000px;
	margin-left:27px;}
.lun img,lun2 img{
	display:inline-block;
	width:422px;
	height:254px;
	margin:2px 14px 30px 0;}
.sec{
	width:422px;
	height:280px;
	float:left;
	overflow:hidden;
	position:relative;
	margin:2px 14px 30px 0;}
mark{
	display:block;
	background:rgba(67,147,244,0);}
.zhao1{
	width:422px;
	height:280px;
	font-size:25px;
	color:#fff;
	text-align:center;
	line-height:40px;
	position:absolute;
	top:0;
	left:0;
	background:rgba(67,147,244,0.5);}
.zhao{
	display:none;}
.zyh,.zh1,.zh2{
	display:block;
	cursor:pointer;
	margin:0 auto;
	cursor:pointer;}
.zh3{
	position:absolute;
	bottom:0;
	left:437px;
	cursor:pointer;}
.cla{
	width:880px;
	height:492px;
	overflow:hidden;
	margin:0 auto 60px;}
.clawrap{
	height:10000px;}
.univer{
	width:190px;
	height:220px;
	float:left;
	margin:13px;
	position:relative;
	border:2px solid #4393f4;}
.le,.ri{
	height:40px;
	float:left;
	color:#fff;
	font-size:22px;
	line-height:40px;
	}
.le{
	width:50%;
	text-align:right;
	background-color:#82b1fe;}
.ri{
	width:50%;
	background-color:#f05d49;}
.univer a{
	display:block;
	width:50px;
	height:20px;
	float:left;
	color:#333;
	margin:18px 0 0 10px;}
#more{
	position:absolute;
	right:24px;
	bottom:1px;}
#tuijian{
	width:819px;
	height:155px;
	overflow:hidden;	
	margin:0 auto 40px;}
.last{
	width:900px;
	position:relative;
	margin:0 auto;}
.tuiwrap{
	width:5000px;
	transition: 0.5s all;}
.size{
	float:left;
	width:235px;
	height:155px;
	margin:0 19px;}
.lz{
	position:absolute;
	left:0;
	top:55px;
	cursor:pointer;}
.ry{
	position:absolute;
	right:0;
	top:55px;
	cursor:pointer;}
#foot{
	width:900px;
	height:190px;
	margin:0 auto;
	background-color:#4393f4;
	}
#foot p{
	width:70px;
	height:70px;
	color:#fff;
	float:left;
	font-size:30px;
	line-height:40px;
	padding:60px 50px;}
.mer{
	float:left;
	width:155px;
	color:#082f71;
	height:132px;
	font-size:18px;
	margin:34px 80px 0 0;
	position:relative;
	background:url(../images/wo_03.png) no-repeat center;}
.cl{
	position:absolute;
	left:15px;
	top:56px;}
.na{
	position:absolute;
	left:72px;
	top:56px;}
#return{
	width:50px;
	height:50px;
	border-radius:50%;
	position:fixed;
	bottom:10px;
	right:1%;
	cursor:pointer;
	font-size:18px;
	text-align:center;
	line-height:50px;
	background-color:#4393f4;}
#return a{
	color:#fff;}
#glbbot {
         font-size:14px !important;
         }
.bottom{
	display: none;
}
.sec img{width:100%;}
.include{
	display: none;
}
