@import "index.module.scss";

.rightBox {
  margin-left: 260px;
}
.footer {
  margin: 20px 0;
  text-align: center;
  font-size: 14px;
  background-color: rgba(239, 239, 239, 0.8);
}

/* 移动端样式*/
@media screen and (max-width: $content-width) {
  .rightBox {
    margin-top: 15px;
    margin-left: 0px;
    padding: 0 8%;
  }
  .footer {
    margin: 20px 0;
    text-align: center;
    font-size: 14px;
    background-color: rgba(239, 239, 239, 0.8);
  }
}
