.banner{
	background-size: 150% 100%;
	height: 400px;
}
.fixbox{
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
}
.adbox{
	display: none;
}
.table2{
	display: none;
}
.kybox-icon{
	width: 100%;
	display: flex;
	justify-content: space-around;

}
.icon-item+.icon-item{
	margin-left: 36px;
}
.kylist-box{
	width: 100%;
	box-sizing: border-box;
}
.kylist-ul{
	padding: 10px 9px;
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.table1{
	width: auto !important;
}
.kylist-li+.kylist-li {
    margin-left: 30px;
}
.diqu{
	display: none;
}




.city .item-head{
	display: none;
}
table th, td{
	width: 130px;
	height:62px;
	line-height: 62px;
	font-size: 28px;
}
.more{
	height: 60px;
	line-height: 60px;
	font-size: 28px;
	border-radius: 5px;
}
.table1 {
 width: auto !important;
}
.mdiqu{
	width: 320px;
	margin: 30px auto 0;
	display: block;
}
.biaoti{
	float: left;
	font-size: 30px;
	color: #189c65;
	line-height: 52px;
}
.chengshi select {
    width: 125px;
    height: 50px;
    padding-left: 15px;
    margin-left: 40px;
    font-size: 26px !important;
    color: #189c65;
    line-height: 50px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: 1px solid #189c65;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff url(../images/arrow.png) no-repeat 95px 50%;
}
.citybox{
	margin-top: 45px;
}

.sword {
    margin-top: 3px;
}
.copyright{
	display: none;
}
.footer{
	display: block;
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 30px;
	color: #fff;
	background: #189c65;
	margin-top: 50px;
}
.smalladbox{display: none;}
.more{
	display: none;
}
.more-m{
	display: block;
	height: 60px;
	line-height: 60px;
	font-size: 28px;
	border-radius: 5px;
}
.tr-head td:first-child{
	width: 330px;
}
.pc{
display: none;
}
.m{
display: block;
}
.include{
	display: block;
}