.fline:after,
.sline:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.adbox {
	padding-top: 65px;
	width: 1190px;
	margin: 0 auto;
}
.fline>div {
	width: 590px;
    height: 60px;
}
.fline-left {
	float: left;
}
.fline-right {
	float: right;
}
.fline img {
    width: 100%;
    height: 60px;
}
.sline {
    margin-top: 10px;
}
.sline>div {
    width: 285px;
    height: 90px;
    margin-right: 15px;
    float: left;
}
.sline>div:last-child {
	margin-right: 0;
}
.small-ad {
	margin-top: 10px;
	height: 60px;
}
.small-ad .small-adul{
	margin-top: 0;
	width: 157px;
    height: 60px;
    margin-right: 14.5px;
    float: left;
    margin-bottom: 10px;
}
.small-ad .small-adul:last-child{
	margin-right: 0;
}
.small-adli{
	width:160px; 
	margin-right:5px; 
	height:60px; 
	overflow:hidden; 
	float:left;
}