@charset "utf-8";
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0; padding:0; list-style:none; text-decoration:none;}
i,em{font-style:normal;}
input, select{vertical-align:middle; font-family:"微软雅黑";}
a{color: #4d4d4d;; text-decoration:none;}
a:hover{text-decoration:none; }
a img{border:0 none;}
a, input, textarea{outline:none;}
input:focus, select:focus, textarea:focus{color:#666;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
.tl li{white-space:nowrap; overflow:hidden;}
.fl{float:left;}
.fr{float:right; color:#9a0707;}
.clear{clear:both;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
* {
    margin: 0;
    padding: 0;
    word-break: break-all;
}

html,body{
    width: 100vw;
    background: #fff;
}

@media screen and (min-width:320px) {
    html {
        font-size: 282%;
    }
}

@media screen and (min-width:350px) {
    html {
        font-size: 342%;
    }
}

@media screen and (min-width:360px) {
    html {
        font-size: 351.56%;
    }
}

@media screen and (min-width:375px) {
    html {
        font-size: 366.2%;
    }
}

@media screen and (min-width:384px) {
    html {
        font-size: 375%;
    }
}

@media screen and (min-width:390px) {
    html {
        font-size: 380.85%;
    }
}

@media screen and (min-width:393px) {

    /* 小米NOTE */
    html {
        font-size: 383.79%;
    }
}

@media screen and (min-width:410px) {
    html {
        font-size: 400%;
    }
}

@media screen and (min-width:432px) {

    /* 魅族3 */
    html {
        font-size: 421.875%;
    }
}

@media screen and (min-width:480px) {
    html {
        font-size: 469%;
    }
}

@media screen and (min-width:540px) {
    html {
        font-size: 527.34%;
    }
}

@media screen and (min-width:640px) {
    html {
        font-size: 625%;
    }
}

@media screen and (min-width:720px) {
    html {
        font-size: 703.125%;
    }
}