@import "../../../assets/style/theme.scss";

.mainBox {
  min-height: 100vh;
  min-width: $content-width;
  background-image: url(/image/blog-bg.webp);
  background-size: contain;
  background-repeat: repeat-x;
  background-attachment: fixed;
}
.main {
  width: $content-width;
  margin: 0 auto;
  padding: 15px 0;
  padding-bottom: 0;
}
.loading {
  height: 50vh;
  position: relative;
}


/* 移动端样式*/
@media screen and (max-width: $content-width) {
  .mainBox {
    min-height: 100vh;
    min-width: $content-width-mobile;
    background-image: url(/image/blog-bg.webp);
    background-size: cover;
  }
  .main {
    width: $content-width-mobile;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 0.2rem;
  }
}

.articleItem {
  background-color: $theme-content-bg;
  box-shadow: 0px 1px 2px 0.5px rgba(0, 0, 0, 0.3) inset;
  transition: 0.3s;
  margin-bottom: 10px;
  padding: 20px;
  cursor: pointer;
  border-radius: 5px;
  .title {
    font-size: 22px;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #999;
    .subT {
      margin: 0;
      margin-top: 5px;
      font-size: 14px;
      text-align: right;
      color: #4d4d4d;
      span {
        font-weight: bold;
      }
      img {
        width: 12px;
        height: 12px;
        margin-right: 5px;
      }
    }
  }
  .descript {
    padding: 0 15px;
    img {
      max-width: 800px;
      max-height: 800px;
    }
  }
}
.articleItem:hover {
  box-shadow: 0 6px 5px -3px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
  transition: 0.3s;
}

/* 移动端样式*/
@media screen and (max-width: $content-width) {
  .articleItem {
    margin-bottom: 0.2rem;
    padding: 0.2rem;
    .title {
      font-size: 0.22rem;
      padding-bottom: 0.3rem;
      .subT {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .articleItem {
    margin-bottom: 0.3rem;
    .title {
      font-size: 0.32rem;
      padding-bottom: 0.3rem;
      .subT {
        display: none;
      }
    }
  }
}
