@import "index.module.scss";

.rightBox {
  margin-left: 260px;
}
.footer {
  margin: 20px 0;
  text-align: center;
  font-size: 14px;
  background-color: rgba(239, 239, 239, 0.8);
  .icp {
    background: rgba(0, 0, 0, 0.5);
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #ccc;
  }
}
/* 移动端样式*/
@media screen and (max-width: $content-width) {
  .rightBox {
    margin-top: 0;
    margin-left: 0px;
    padding: 0 8%;
    padding-top: 1.8rem;
  }
  .footer {
    margin: 0;
    text-align: center;
    font-size: 0.14rem;
    background-color: rgba(239, 239, 239, 0.8);
    .icp {
      height: 0.5rem;
      line-height: 0.5rem;
      font-size: 0.2rem;
    }
  }
}

@media screen and (max-width: 550px) {
  .rightBox {
    padding: 0 4%;
    padding-top: 2.7rem;
    padding-bottom: 0.5rem;
  }
  .footer {
    font-size: 0.2rem;
  }
}
