@charset "utf-8";
/* CSS Document */
body{ position:relative;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0; font-size:12px;}
form, img, p,fieldset,dl,dt,dd{border:0px;}
form, img, p{margin: 0px auto;border:0px;}
ul, li{margin:0px auto; padding:0px; list-style:none; list-style-position:outside;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
dl,dt,dd{margin:0px; padding:0px; border:0px;}
i,em{ font-style:normal;}
input,select{color:#333; font-size:12px;}
a { color: #333; text-decoration: none;}
a:hover {color: #333; text-decoration: underline; }
.left{ float:left;}
.right{ float:right;}

.line_shu{ height:100px; width:1px; border-left:1px #ccc dashed; display:inline; overflow:hidden; margin:58px 15px 24px 15px;}

.wrapper{ width:960px; height:auto; margin:0 auto; }
.bottombg{ width:960px; height:182px; background:url(../images/bhwj_bg.jpg) no-repeat left top;position:fixed;bottom:0; z-index:30; }
.bottom_left{ width:130px; height:auto; padding-left:20px;}
.bottom_left h2{ float:left; width:118px; height:32px; line-height:32px; padding-top:2px; background:url(../images/bhwj_img_1.jpg) no-repeat left 12px; font-size:14px; color:#FFF; font-weight:bold; padding-left:12px;}
.bottom_middle{ width:420px; height:auto;}
.bottom_middle h2{float:left; width:408px; height:32px; line-height:32px; padding-top:2px; background:url(../images/bhwj_img_1.jpg) no-repeat left 12px; font-size:14px; color:#FFF; font-weight:bold; padding-left:12px;}
.bottom_right{ width:210px; height:auto;}
.bottom_right h2{float:left; width:208px; height:32px; line-height:32px; padding-top:2px; background:url(../images/bhwj_img_1.jpg) no-repeat left 12px; font-size:14px; color:#FFF; font-weight:bold; padding-left:12px;}
.chafen{ width:130px; height:auto; padding-top:25px;}
.chafen p{ float:left; width:130px; height:24px; line-height:24px;}
.dongtai{ width:420px; height:auto;padding-top:25px;}
.dongtai_pic{ width:170px; height:95px; display:inline; overflow:hidden;}
.dongtai ul{ float:left; width:240px; height:auto; padding-left:10px; padding-top:5px;}
.dongtai ul li{ float:left; width:240px; height:24px; display:inline; overflow:hidden;}
.city{ width:210px; height:auto; padding-top:25px;}
.city span{ float:left; width:210px; height:auto; line-height:20px;}
.city span a font{ color:#C00; text-decoration:none;}
.city span a font:hover{ text-decoration:underline;}
.city p{ float:left; width:210px; height:20px; line-height:20px;}
.city p a{ color:#0c4e9a; text-decoration:underline;}
.weixin{ width:80px; height:auto; padding:8px 5px 3px; background:#FFF; margin:50px 0 0 10px; display:inline; overflow:hidden;}
.weixin span{ float:left; width:80px; height:76px;}
.weixin p{ float:left; width:80px; height:24px; line-height:24px; text-align:center;}
.guanbi{ position:absolute; right:10px; width:auto; height:34px; line-height:34px;}
.guanbi a{ color:#FFF; text-decoration:none; cursor:pointer;}
.guanbi a:hover{ text-decoration:underline;}