@charset "utf-8";
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0; padding:0; list-style:none; text-decoration:none;}
i,em{font-style:normal;}
input, select{vertical-align:middle; font-family:"~{KNLe~}";}
a{color:#333; text-decoration:none;}
a:hover{text-decoration:none; }
a img{border:0 none;}
a, input, textarea{outline:none;}
input:focus, select:focus, textarea:focus{color:#666 !important;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
.tl li{white-space:nowrap; overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.dian{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.pa{
	position: absolute;
}
.disnone{display: none;}

html{-webkit-text-size-adjust: none;-webkit-text-size-adjust: 100%;}
body{font-family:"microsoft yahei"; color:#333;}

.banner{
	width: 100%;
	height: 280px;
	background: url(https://www.eol.cn/e_ky/zt/common/cjcx/images/mbanner.png) no-repeat;
}
.item-mid{
	margin-top: 60px;
}
.xuanzhe{
	width: 400px;
	height: 40px;
	margin: 0 auto;
	box-sizing: border-box;
	padding-left: 40px;
}
.biaoti{
	float: left;
	font-size: 32px;
	color: #08a6a8;
}
.chengshi{
	float: left;
	width: 133px;
	height: 38px;
	margin-left: 30px;
	font-size: 24px;
	line-height: 38px;
	border: 1px solid #08a6a8;
}
.xuanzhe select {
    width: 133px;
    height: 38px;
    border: none;
    float: left;
    color: #08a6a8;
    line-height: 38px;
    padding-left: 30px;
    padding-right: 0px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff url(https://img1.eol.cn/images/ed/kaoyan/2017/arrow.png) no-repeat 90px 50%;
}
.xuexiao{
	width: 700px;
	margin: 50px auto 0;
}
.university-list{
	width: 100%;
	box-sizing: border-box;
	padding: 40px 25px;
	border: 1px solid #e5e5e5;
	
}
.university-list+.university-list{
	display: none;
}
.c1{
	float: left;
	width: 32px;
	height: 32px;
	margin-top: 6px;
}
.c1 img{
	width: 32px;
	height: 32px;
	display: block;
}
.c2{
	float: left;
	font-size: 30px;
	color: #434343;
	line-height: 38px;
	margin-left: 25px;
}
.cbt {
    float: left;
    width: 250px;
    height: 45px;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
    border: 1px solid #08a6a8;
    margin-left: 20px;
    font-size: 24px;
}
.cli+.cli{
	margin-top: 40px;
}
.c3{
	float: left;
	width: 370px;
	font-size: 30px;
	color: #434343;
	line-height: 44px;
}
.kybox-icon{
	width: 710px;
	margin: 40px auto 0;
}
.icon-item{
	float: left;
	text-align: center;
}
.icon-item+.icon-item{
	margin-left: 86px;
}
.icon-item img{
	display: block;
}
.icon-item span{
	display: block;
	font-size: 20px;
	color: #424242;
	margin-top: 12px;
}
.kylist-box{
	width: 710px;
	margin: 45px auto 0;
	border: 1px solid #e6e7e7;
}
.kylist-ul{
	padding: 10px 55px;
}
.kylist-ul+.kylist-ul{
	border-top: 1px solid #e6e7e7;
}
.kylist-li{
	float: left;
	width: 150px;
}
.kylist-li+.kylist-li{
	margin-left: 75px;
}
.sicon{
	float: left;
	width: 32px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.sicon img{
	vertical-align: middle;
}
.sword{
	float: left;
	font-size: 20px;
	color: #424242;
	line-height: 40px;
	margin-left: 15px;
}
.sword a{
	color: #424242;
}
.footer{
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 32px;
	color: #fff;
	background: #08a6a8;
	margin-top: 60px;
}