@charset "utf-8";
*{margin:0; padding:0; list-style:none; text-decoration:none;box-sizing: border-box}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
i,em{font-style:normal;}
input, select{vertical-align:middle; font-family:"宋体";}
a{color:#333; text-decoration:none;}
a:hover{text-decoration:none; }
a img{border:0 none;}
a, input, textarea{outline:none;}
input:focus, select:focus, textarea:focus{color:#666 !important;}
.tl li{white-space:nowrap; overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.dpn{display: none}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix{zoom:1; _height:1px;}
*html .clearfix{height:1%;}
*+html .clearfix{height:1%;}
html {
  width: 750px;
  margin: 0 auto;
  font-family: "microsoft yahei";
}
._title {
  text-align: center;
  padding: 50px 0;
}
/********************/
.line {
  width: 750px;
  height: 40px;
  background: #FFF1BB;
}
/********************/
.button {
  position: absolute;
  top: 99.9%;
  left: 45.5%;
}
/*******************/
.btn_active {
  background: url("../images/btn-up.png") no-repeat !important;
}
/*******************/
.header {
  width: 750px;
  height: 430px;
  background: url("../images/banner.png") no-repeat top center;
  padding: 20px;
}
.header .scroll_text {
  width: 710px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  line-height: 1.8;
  margin-top: 350px;
  position: relative;
}
.header .scroll_text .tempWrap {
  width: 540px!important;
}
.header .scroll_text .scroll_text_con {
  width: 540px;
  height: 40px;
  display: inline-block !important;
  overflow: hidden;
  zoom: 1;
  float: left;
}
.header .scroll_text .scroll_text_con li {
  float: left;
  margin-right: 20px;
  width: 540px;
  height: 40px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.3);
}
.header .scroll_text .scroll_text_con li a {
  color: #fff;
}
.header .scroll_text .more_zx {
  width: 140px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 570px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}
.header .scroll_text .more_zx a {
  color: #fff;
}
/*********************/
.nav {
  display: flex;
  width: 750px;
  height: 60px;
  z-index: 1000;
  overflow: hidden;
  background: #ffda44;
}
.nav .nav_item {
  justify-content: space-between;
  padding-top: 8px;
}
.nav .nav_item a {
  display: inline-block;
  text-align: center;
  width: 250px;
  font-size: 30px;
  border-right: 1px solid #fce58a;
}
.nav .active {
  background: #FFCA00;
}
.nav .active a {
  color: #ffffff;
}
/********************/
#beikao {
  width: 750px;
  padding: 20px 20px 20px;
  background: #f9f9f9;
  position: relative;
  border-bottom: 2px solid #CFC9BA;
  padding-bottom: 20px!important;
}
#beikao .bk_box {
  width: 710px;
  height: auto;
  margin: 0 auto;
  background: #ffffff;
  border-left: 1px solid #C4C1BA;
  border-bottom: 1px solid #C4C1BA;
}
#beikao .bk_box .bk_lf {
  width: 236px;
  height: 280px;
  float: left;
  text-align: center;
  padding: 50px 50px 30px;
  border-right: 1px solid #C4C1BA;
  border-top: 1px solid #C4C1BA;
}
#beikao .bk_box .bk_lf a {
  font-size: 1.8rem;
}
#beikao .bk_box .bk_lf a p {
  margin-top: 30px;
}
#beikao .bk_box .bk_rt {
  height: 280px;
}
#beikao .bk_box .bk_item {
  width: 236px;
  height: 140px;
  float: left;
  text-align: center;
  padding: 20px  0 0;
  border-right: 1px solid #C4C1BA;
  border-top: 1px solid #C4C1BA;
}
#beikao .bk_box .bk_item a {
  font-size: 20px;
}
#beikao .bk_box .bk_item a p {
  margin-top: 10px;
}
/********************/
#apply {
  width: 750px;
  padding: 0 20px 10px;
  background: #f9f9f9;
  border-bottom: 2px solid #CFC9BA;
  position: relative;
}
#apply .apply_big {
  width: 355px;
  height: 280px;
  float: left;
  text-align: center;
  padding: 50px 50px 30px;
  border: 1px solid #C4C1BA;
  margin-bottom: 10px;
  background: #ffffff;
}
#apply .apply_big a {
  font-size: 24px;
}
#apply .apply_big a p {
  margin-top: 20px;
}
#apply .apply_big:nth-child(2) {
  border-left: 0;
}
#apply .apply_small .a_item {
  background: #ffffff;
  width: 236px;
  height: 140px;
  float: left;
  text-align: center;
  padding: 20px  0 0;
  border: 1px solid #C4C1BA;
  border-left: none;
  margin-bottom: 10px;
}
#apply .apply_small .a_item a {
  font-size: 20px;
}
#apply .apply_small .a_item a p {
  margin-top: 10px;
}
#apply .apply_small .a_item:nth-child(1) {
  border-left: 1px solid #C4C1BA;
}
/**************/
#luqu {
  width: 750px;
  padding: 0 20px 20px;
  background: #f9f9f9;
  position: relative;
  border-bottom: 2px solid #CFC9BA;
}
#luqu .lq_box {
  width: 710px;
  height: auto;
  margin: 0 auto;
  background: #ffffff;
  border-left: 1px solid #C4C1BA;
  border-bottom: 1px solid #C4C1BA;
}
#luqu .lq_box .lq_lf {
  width: 236px;
  height: 280px;
  float: left;
  text-align: center;
  padding: 50px 0px 30px;
  border-right: 1px solid #C4C1BA;
  border-top: 1px solid #C4C1BA;
}
#luqu .lq_box .lq_lf a {
  font-size: 1.5rem;
}
#luqu .lq_box .lq_lf a p {
  margin-top: 25px;
}
#luqu .lq_box .lq_rt {
  height: 280px;
}
#luqu .lq_box .lq_item {
  width: 236px;
  height: 140px;
  float: left;
  text-align: center;
  padding: 20px  0 0;
  border-right: 1px solid #C4C1BA;
  border-top: 1px solid #C4C1BA;
}
#luqu .lq_box .lq_item a {
  font-size: 20px;
}
#luqu .lq_box .lq_item a p {
  margin-top: 10px;
}
/***************/
#toolbox {
  padding: 0 20px 20px;
}
#toolbox .tool_box .tool_item {
  width: 177.5px;
  height: 170px;
  float: left;
  text-align: center;
  padding: 20px  0 0;
  border-left: none;
  margin-bottom: 15px;
}
#toolbox .tool_box .tool_item a {
  font-size: 19px;
}
#toolbox .tool_box .tool_item a p {
  margin-top: 10px;
}
/*******************/
.footer {
  width: 750px;
  height: 90px;
  background: #FFD943;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  line-height: 3;
}
