html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
/*正常的未被访问过的链接*/
a:link {
  text-decoration: none;
}
/*已经访问过的链接*/
a:visited {
  text-decoration: none;
}
/*鼠标划过(停留)的链接*/
a:hover {
  text-decoration: none;
}
/* 正在点击的链接，鼠标在元素上按下还没有松开*/
a:active {
  text-decoration: none;
}
/* 获得焦点的时候 鼠标松开时显示的颜色*/
a:focus {
  text-decoration: none;
}

/* 重置md样式 */
article p {
  color: #4d4d4d;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 16px;
  overflow: hidden;
  overflow-x: auto;
  font-size: 16px;
}
article li {
  list-style-type: disc;
  margin: 8px 0 0 32px;
}
article code {
  color: #c7254e;
  background-color: #fde5ec;
  border-radius: 2px;
  font-size: 14px;
}

article blockquote {
  display: block;
  padding: 16px;
  margin: 0 0 24px;
  border-left: 8px solid #dddfe4;
  background: #eef0f4;
  overflow: auto;
  word-break: break-word !important;
  color: rgba(0, 0, 0, 0.5);
}
article blockquote p {
  margin: 0;
}
article strong {
  display: inline-block;
  font-weight: 700;
  color: #4d4d4d;
}
article ol {
  padding-left: 20px;
}
article ul {
  padding-left: 20px;
}
article a {
  color: #4ea1db;
  text-decoration: none;
  font-size: 14px;
}
article h2,
article h1,
article h3,
article h4,
article h5,
article h6 {
  font-size: 20px;
  line-height: 30px;
  color: #4f4f4f;
  margin: 8px 0 16px;
  font-weight: 600;
}

/* 浏览器样式重置 */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: #f5f5f5;
}
/*定义滚动条轨道
 内阴影+圆角*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(142, 151, 151, 0.3);
  background-color: #f5f5f5;
}
/*定义滑块
 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  background-color: rgb(139, 138, 138);
}
