.nomobile{
  display: none;
}
.nopc{
  display: block;
}
.xueke { width: 300px; height: 165px; border: 1px solid #b8bb89; text-align: center; background: #fdffdd; border-radius: 0 8px 8px 8px; float: left; margin-left: 47px;margin-right: 47px; margin-bottom: 35px; box-sizing: border-box; }
.xueke .fline { font-size: 45px; line-height: 63px; color: #fdffdd; padding: 15px 0; }
.xueke .fline a { color: #818457; font-size: 45px; }
.xueke .sline { color: #818457; font-size: 30px; }
.xueke .sline a { color: #818457; font-size: 30px; padding: 0px 5px; }
.xueke.xueke5 { border: 1px solid #86a2fc; background: #dde3ff; margin-right: 47px; }
.xueke.xueke10 { border: 1px solid #1aa58b; background: #ddfff1; margin-right: 47px; }
.xkmd a { color: #1aa58b; font-size: 36px; font-weight: bold; }
.xkmd .xkmd1 { width: 238px; height: 57px; line-height: 57px; text-align: center; float: left; background: url(../images/kmbg.png) center center no-repeat; margin-right: 49px; margin-left: 47px}
.xkmd .xkmd2 { width: 238px; height: 57px; line-height: 57px; text-align: center; float: left; background: url(../images/kmbg.png) center center no-repeat; margin-right: 49px; }
.xkmd .xkmd3 { width: 238px; height: 57px; line-height: 57px; text-align: center; float: left; background: url(../images/kmbg.png) center center no-repeat; margin-right: 49px; }
.xkmd .xkmd4 { width: 238px; height: 57px; line-height: 57px; text-align: center; float: left; background: url(../images/kmbg.png) center center no-repeat; margin-right: 0; }
.box .box-top { height: 64px;  }
.box .box-top .kmbt { padding: 0 10px;font-weight: bold;line-height: 63px; height: 63px; float: left; font-size: 38px; }
.box .box-con .conleft {height: 345px;line-height: 345px;font-size: 33px; }
.box.yingyu .box-top { height: 64px;}
.box.yingyu .box-top .kmbt { padding: 0 10px;font-weight: bold;line-height: 63px; height: 63px; float: left; font-size: 38px; }
.box.shuxue .box-top { height: 64px;}
.box.shuxue .box-top .kmbt { padding: 0 10px;font-weight: bold;line-height: 63px; height: 63px; float: left; font-size: 38px; }
.box.zhuanye .box-top { height: 64px;}
.box.zhuanye .box-top .kmbt { padding: 0 10px; font-weight: bold;line-height: 63px; height: 63px; float: left; font-size: 38px; }
.box .box-con .nian {width: 246px !important; height: 172px !important;font-size: 30px !important; }
.box .box-con .nian .fline { height: 85px !important; line-height: 85px !important;}
.box .box-con .nian .sline { height: 85px !important; line-height: 85px !important;}
.box .box-con .conright { height: 345px;overflow: hidden;}
.box.yingyu .box-con .conleft { height: 172px; line-height: 172px;font-size: 33px; }
.box.yingyu .box-con .conright {height: 172px; }
.box .box-con .nian a {padding: 0 5px !important; }
.box.shuxue .box-con .conleft { height: 172px; line-height: 172px; font-size: 33px;}
.box.shuxue .box-con .conright {height: 172px; }
.box.zhuanye .box-con .conleft {height: 122px; line-height: 55px; font-size: 33px; padding-top: 50px;}
.box.zhuanye .box-con .conright {height: 172px; }
.copyright #glbbot { font-size: 28px; line-height: 48px;}
.copyright #glbbot a { font-size: 28px;}
.icon-item span { display: block; font-size: 30px; color: #fff; margin-top: 12px; }
.icon-item + .icon-item { margin-left: 100px; }
.sword { float: left; font-size: 30px; color: #fff; line-height: 60px; margin-left: 15px; }
.kylist-li { float: left; width: 180px; }
.kylist-li + .kylist-li { margin-left: 55px; }
.sicon { float: left; width: 32px; height: 60px; line-height: 60px; text-align: center; }
.ad_sw{display: block;}
.banquan{
  padding: 80px 0;
  color: #1aa58b;
  font-size: 36px;
}
 