@charset "UTF-8";
* { margin: 0; padding: 0; list-style: none; word-break: break-all; }

/*
KISSY CSS Reset
理念：1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
*/
html, body, h1, h2, h3, h4, h5, h6, hr, p, iframe, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td, fieldset { margin: 0; padding: 0; }

ul, ol, dl { list-style-type: none; }

html, body { *position: static; }

html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: 400; }

input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }

input, button { overflow: visible; vertical-align: middle; outline: none; }

body, th, td, button, input, select, textarea { font-family: "Microsoft Yahei"; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; }

a, area { outline: none; blr: expression(this.onFocus=this.blur()); }

a { text-decoration: none; cursor: pointer; }

a:hover { text-decoration: none; outline: none; }

a.ie6:hover { zoom: 1; }

a:focus { outline: none; }

a:hover, a:active { outline: none; }

:focus { outline: none; }

sub, sup { vertical-align: baseline; }

button, input[type="button"], input[type="submit"] { line-height: normal !important; }

/*img*/
img { border: 0; vertical-align: middle; }

a img, img { -ms-interpolation-mode: bicubic; }

.img-responsive { max-width: 100%; height: auto; }

/*IE下a:hover 背景闪烁*/
*html { overflow: -moz-scrollbars-vertical; zoom: expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this)); }

/*HTML5 reset*/
header, footer, section, aside, details, menu, article, section, nav, address, hgroup, figure, figcaption, legend { display: block; margin: 0; padding: 0; }

time { display: inline; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; }

legend { width: 100%; margin-bottom: 20px; font-size: 21px; line-height: 40px; border: 0; border-bottom: 1px solid #e5e5e5; }

legend small { font-size: 15px; color: #999; }

svg:not(:root) { overflow: hidden; }

fieldset { border-width: 0; padding: 0.35em 0.625em 0.75em; margin: 0 2px; border: 1px solid #c0c0c0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

input::-ms-clear { display: none !important; }

/** 重置表单元素 **/
legend { color: #000; }

/* for ie6 */
fieldset, img { border: 0; }

/* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; }

/* 使得表单元素在 ie 下能继承字体大小 */
/*
Name:			style_clearfix
Example:		class="clearfix|cl"
Explain:		Clearfix（简写cl）避免因子元素浮动而导致的父元素高度缺失能问题
*/
.cl:after, .clearfix:after, .content:after, .gongju:after, .shiti:after, .tupian .fline:after, .tupian .sline:after, .tupian .tline:after, .xkmd:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.cl, .clearfix, .content, .gongju, .shiti, .tupian .fline, .tupian .sline, .tupian .tline, .xkmd { zoom: 1; }

.dian { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; word-break: keep-all; }

.banner { width: 100%; height: 520px; background: url(../images/banner.jpg) center top no-repeat; }

.content { width: 1190px; margin: 0 auto; overflow: hidden; }

.gongju { width: 1190px; margin: 0 auto; overflow: hidden; padding-bottom: 50px; }

.logo { width: 224px; height: 48px; padding-top: 27px; }

.title { width: 987px; height: 184px; margin: 20px auto; }

.mintt { width: 805px; height: 89px; margin: 0 auto; }

.biaoti { margin: 80px auto 70px auto; width: 946px; height: 102px; line-height: 102px; font-size: 48px; text-align: center; color: #fff; background: url(../images/ttbg.png) center center no-repeat; }

.biaoti2 { margin: 80px auto 70px auto; width: 946px; height: 102px; line-height: 102px; font-size: 48px; text-align: center; color: #23996d; background: url(../images/ttbg2.png) center center no-repeat; }

.xueke { width: 200px; height: 110px; border: 1px solid #b8bb89; text-align: center; background: #fdffdd; border-radius: 0 8px 8px 8px; float: left; margin-right: 38px; margin-bottom: 35px; box-sizing: border-box; }

.xueke .fline { font-size: 30px; line-height: 42px; color: #fdffdd; padding: 10px 0; }

.xueke .fline a { color: #818457; font-size: 30px; }

.xueke .sline { color: #818457; font-size: 20px; }

.xueke .sline a { color: #818457; font-size: 20px; padding: 0px 3px; }

.xueke.xueke2 { border: 1px solid #af84c3; background: #f7e5ff; }

.xueke.xueke2 .fline { color: #fdffdd; }

.xueke.xueke2 .fline a { color: #915ea9; }

.xueke.xueke2 .sline { color: #915ea9; }

.xueke.xueke2 .sline a { color: #915ea9; }

.xueke.xueke3 { border: 1px solid #1aa58b; background: #ddfff1; }

.xueke.xueke3 .fline { color: #fdffdd; }

.xueke.xueke3 .fline a { color: #0a806a; }

.xueke.xueke3 .sline { color: #0a806a; }

.xueke.xueke3 .sline a { color: #0a806a; }

.xueke.xueke4 { border: 1px solid #c3aaa2; background: #ffe5dd; }

.xueke.xueke4 .fline { color: #fdffdd; }

.xueke.xueke4 .fline a { color: #a06c5b; }

.xueke.xueke4 .sline { color: #a06c5b; }

.xueke.xueke4 .sline a { color: #a06c5b; }

.xueke.xueke5 { border: 1px solid #86a2fc; background: #dde3ff; margin-right: 0; }

.xueke.xueke5 .fline { color: #516ceb; }

.xueke.xueke5 .fline a { color: #516ceb; }

.xueke.xueke5 .sline { color: #516ceb; }

.xueke.xueke5 .sline a { color: #516ceb; }

.xueke.xueke6 { border: 1px solid #af84c3; background: #f7e5ff; }

.xueke.xueke6 .fline { color: #fdffdd; }

.xueke.xueke6 .fline a { color: #915ea9; }

.xueke.xueke6 .sline { color: #915ea9; }

.xueke.xueke6 .sline a { color: #915ea9; }

.xueke.xueke7 { border: 1px solid #c3aaa2; background: #ffe5dd; }

.xueke.xueke7 .fline { color: #fdffdd; }

.xueke.xueke7 .fline a { color: #a06c5b; }

.xueke.xueke7 .sline { color: #a06c5b; }

.xueke.xueke7 .sline a { color: #a06c5b; }

.xueke.xueke8 { border: 1px solid #86a2fc; background: #dde3ff; }

.xueke.xueke8 .fline { color: #516ceb; }

.xueke.xueke8 .fline a { color: #516ceb; }

.xueke.xueke8 .sline { color: #516ceb; }

.xueke.xueke8 .sline a { color: #516ceb; }

.xueke.xueke10 { border: 1px solid #1aa58b; background: #ddfff1; margin-right: 0; }

.xueke.xueke10 .fline { color: #fdffdd; }

.xueke.xueke10 .fline a { color: #0a806a; }

.xueke.xueke10 .sline { color: #0a806a; }

.xueke.xueke10 .sline a { color: #0a806a; }

.xueke.xueke11 { border: 1px solid #86a2fc; background: #dde3ff; }

.xueke.xueke11 .fline { color: #516ceb; }

.xueke.xueke11 .fline a { color: #516ceb; }

.xueke.xueke11 .sline { color: #516ceb; }

.xueke.xueke11 .sline a { color: #516ceb; }

.xueke.xueke12 { border: 1px solid #af84c3; background: #f7e5ff; }

.xueke.xueke12 .fline { color: #fdffdd; }

.xueke.xueke12 .fline a { color: #915ea9; }

.xueke.xueke12 .sline { color: #915ea9; }

.xueke.xueke12 .sline a { color: #915ea9; }

.xueke.xueke13 { border: 1px solid #1aa58b; background: #ddfff1; }

.xueke.xueke13 .fline { color: #fdffdd; }

.xueke.xueke13 .fline a { color: #0a806a; }

.xueke.xueke13 .sline { color: #0a806a; }

.xueke.xueke13 .sline a { color: #0a806a; }

.guanggao { width: 100%; background: #1aa58b; }

.wenzi { padding: 55px 0; overflow: hidden; }

.wenzi ul { width: 1240px; }

.wenzi ul li { width: 218px; float: left; line-height: 26px; background: url(../images/dian.jpg) left center no-repeat; padding-left: 10px; padding-right: 20px; }

.wenzi ul li a { color: #fff; font-size: 12px; }

.wenzi ul li a:hover { text-decoration: underline; }

.tupian { padding-bottom: 55px; }

.tupian .fline img { width: 100%; height: 60px; }

.tupian .fline .fline-left { width: 590px; height: 60px; float: left; margin-right: 10px; }

.tupian .fline .fline-right { width: 590px; height: 60px; float: left; }

.tupian .sline { margin-top: 10px; }

.tupian .sline img { width: 100%; height: 90px; }

.tupian .sline .sline1 { width: 285px; height: 90px; margin-right: 16px; float: left; }

.tupian .sline .sline2 { width: 285px; height: 90px; margin-right: 18px; float: left; }

.tupian .sline .sline3 { width: 285px; height: 90px; margin-right: 16px; float: left; }

.tupian .sline .sline4 { width: 285px; height: 90px; float: left; }

.tupian .tline { margin-top: 10px; }

.tupian .tline img { width: 100%; height: 60px; }

.tupian .tline .tline1 { width: 157px; height: 60px; margin-right: 15px; float: left; margin-bottom: 10px; }

.tupian .tline .tline2 { width: 157px; height: 60px; margin-right: 15px; float: left; margin-bottom: 10px; }

.tupian .tline .tline3 { width: 157px; height: 60px; margin-right: 15px; float: left; margin-bottom: 10px; }

.tupian .tline .tline4 { width: 157px; height: 60px; margin-right: 15px; float: left; margin-bottom: 10px; }

.tupian .tline .tline5 { width: 157px; height: 60px; margin-right: 15px; float: left; margin-bottom: 10px; }

.tupian .tline .tline6 { width: 157px; height: 60px; margin-right: 15px; float: left; margin-bottom: 10px; }

.tupian .tline .tline7 { width: 157px; height: 60px; margin-right: 0px; float: left; margin-bottom: 10px; }

.xkmd a { color: #1aa58b; font-size: 36px; font-weight: bold; }

.xkmd .xkmd1 { width: 238px; height: 57px; line-height: 57px; text-align: center; float: left; background: url(../images/kmbg.png) center center no-repeat; margin-right: 79px; }

.xkmd .xkmd2 { width: 238px; height: 57px; line-height: 57px; text-align: center; float: left; background: url(../images/kmbg.png) center center no-repeat; margin-right: 79px; }

.xkmd .xkmd3 { width: 238px; height: 57px; line-height: 57px; text-align: center; float: left; background: url(../images/kmbg.png) center center no-repeat; margin-right: 79px; }

.xkmd .xkmd4 { width: 238px; height: 57px; line-height: 57px; text-align: center; float: left; background: url(../images/kmbg.png) center center no-repeat; margin-right: 0; }

.box { width: 1190px; margin: 50px auto 0px auto; }

.box .box-top { height: 43px; border-bottom: 1px solid #1aa58b; }

.box .box-top .kmbt { padding: 0 10px; border-bottom: 3px solid #1aa58b; color: #333333; line-height: 42px; height: 42px; float: left; font-size: 30px; }

.box .box-con { margin-top: 17px; background: #ddfff1; overflow: hidden; }

.box .box-con .conleft { float: left; width: 198px; height: 231px; line-height: 231px; text-align: center; border-left: 1px solid #1aa58b; border-top: 1px solid #1aa58b; border-bottom: 1px solid #1aa58b; border-right: 1px solid #1aa58b; font-size: 22px; }

.box .box-con .conright { float: left; width: 990px; height: 232px; border-top: 1px solid #1aa58b; }

.box .box-con .nian { float: left; width: 197px; height: 115px; border-bottom: 1px solid #1aa58b; border-right: 1px solid #1aa58b; text-align: center; font-size: 20px; color: #434343; }

.box .box-con .nian a { color: #434343; padding: 0 3px; }

.box .box-con .nian .fline { height: 57px; line-height: 57px; border-bottom: 1px solid #1aa58b; }

.box .box-con .nian .sline { height: 57px; line-height: 57px; background: #fff; }

.box.yingyu .box-top { height: 43px; border-bottom: 1px solid #a964c9; }

.box.yingyu .box-top .kmbt { padding: 0 10px; border-bottom: 3px solid #a964c9; color: #333333; line-height: 42px; height: 42px; float: left; font-size: 30px; }

.box.yingyu .box-con { margin-top: 17px; background: #f7e5ff; overflow: hidden; border-bottom: 1px solid #a964c9; }

.box.yingyu .box-con .conleft { float: left; width: 198px; height: 115px; line-height: 115px; text-align: center; border-left: 1px solid #a964c9; border-top: 1px solid #a964c9; border-bottom: 0px solid #a964c9; border-right: 1px solid #a964c9; font-size: 22px; }

.box.yingyu .box-con .conright { float: left; width: 990px; height: 115px; border-top: 1px solid #a964c9; }

.box.yingyu .box-con .nian { float: left; width: 197px; height: 115px; border-bottom: 1px solid #a964c9; border-right: 1px solid #a964c9; text-align: center; font-size: 20px; color: #434343; }

.box.yingyu .box-con .nian a { color: #434343; padding: 0 3px; }

.box.yingyu .box-con .nian .fline { height: 57px; line-height: 57px; border-bottom: 1px solid #f7e5ff; }

.box.yingyu .box-con .nian .sline { height: 57px; line-height: 57px; background: #fff; }

.box.shuxue .box-top { height: 43px; border-bottom: 1px solid #516ceb; }

.box.shuxue .box-top .kmbt { padding: 0 10px; border-bottom: 3px solid #516ceb; color: #333333; line-height: 42px; height: 42px; float: left; font-size: 30px; }

.box.shuxue .box-con { margin-top: 17px; background: #dde3ff; overflow: hidden; border-bottom: 1px solid #516ceb; }

.box.shuxue .box-con .conleft { float: left; width: 198px; height: 115px; line-height: 115px; text-align: center; border-left: 1px solid #516ceb; border-top: 1px solid #516ceb; border-bottom: 0px solid #516ceb; border-right: 1px solid #516ceb; font-size: 22px; }

.box.shuxue .box-con .conright { float: left; width: 990px; height: 115px; border-top: 1px solid #516ceb; }

.box.shuxue .box-con .nian { float: left; width: 197px; height: 115px; border-bottom: 1px solid #516ceb; border-right: 1px solid #516ceb; text-align: center; font-size: 20px; color: #434343; }

.box.shuxue .box-con .nian a { color: #434343; padding: 0 3px; }

.box.shuxue .box-con .nian .fline { height: 57px; line-height: 57px; border-bottom: 1px solid #516ceb; }

.box.shuxue .box-con .nian .sline { height: 57px; line-height: 57px; background: #fff; }

.box.zhuanye { margin-bottom: 50px; }

.box.zhuanye .box-top { height: 43px; border-bottom: 1px solid #a06c5b; }

.box.zhuanye .box-top .kmbt { padding: 0 10px; border-bottom: 3px solid #a06c5b; color: #333333; line-height: 42px; height: 42px; float: left; font-size: 30px; }

.box.zhuanye .box-con { margin-top: 17px; background: #ffe5dd; overflow: hidden; border-bottom: 1px solid #a06c5b; }

.box.zhuanye .box-con .conleft { float: left; width: 198px; height: 115px; line-height: 115px; text-align: center; border-left: 1px solid #a06c5b; border-top: 1px solid #a06c5b; border-bottom: 0px solid #a06c5b; border-right: 1px solid #a06c5b; font-size: 22px; }

.box.zhuanye .box-con .conright { float: left; width: 990px; height: 115px; border-top: 1px solid #a06c5b; }

.box.zhuanye .box-con .nian { float: left; width: 197px; height: 115px; border-bottom: 1px solid #a06c5b; border-right: 1px solid #a06c5b; text-align: center; font-size: 20px; color: #434343; }

.box.zhuanye .box-con .nian a { color: #434343; padding: 0 3px; }

.box.zhuanye .box-con .nian .fline { height: 57px; line-height: 57px; border-bottom: 1px solid #a06c5b; }

.box.zhuanye .box-con .nian .sline { height: 57px; line-height: 57px; background: #fff; }

.kybox-icon { width: 1010px; margin: 60px auto 0; }

.icon-item { float: left; text-align: center; }

.icon-item img { display: block; }

.icon-item span { display: block; font-size: 20px; color: #000; margin-top: 12px; }

.icon-item + .icon-item { margin-left: 110px; }

.kylist-box { width: 1010px; margin: 50px auto 0; border: 1px solid #e6e7e7; }

.kylist-li { float: left; width: 150px; }

.sicon { float: left; width: 32px; height: 40px; line-height: 40px; text-align: center; }

.sicon img { vertical-align: middle; }

.sword { float: left; font-size: 20px; color: #fff; line-height: 40px; margin-left: 15px; }

.sword a { color: #000; }

.kylist-ul { padding: 10px 55px; }

.kylist-li + .kylist-li { margin-left: 95px; }

.kylist-ul + .kylist-ul { border-top: 1px solid #e6e7e7; }

.copyright { width: 100%; background-color: #fff; text-align: center; }

.copyright #glbbot { margin: 0 auto; border: none; padding: 50px 0; color: #fff; line-height: 30px; }

.copyright #glbbot a { color: #fff; }

.copyright #glbbot { margin: 0 auto; border: none; padding: 20px 0; color: #1aa58b; }

.copyright #glbbot a { color: #1aa58b; }

.nopc { display: none; }

.nomobile { display: block; }



.ad_sw{display: none;}