/* CSS Document */
/*页面整体定义*/

html {color:#333;font-family:宋体;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body {font-size:12px;text-align:center; background:#fff2b1;}
form, img, p,fieldset,dl,dt,dd{border:0px;}
ul, li{margin:0px auto; padding:0px; list-style:none; list-style-position:outside;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
dl,dt,dd{margin:0px; padding:0px; border:0px;}

input,select{color:#666; font-size:12px;}
a:link,a:visited { font-family:"宋体";color: #333333; text-decoration: none; font-weight: normal;}
a:hover {color: #BD0A01; text-decoration: underline; font-weight: normal;}
i{ font-style:normal;}

/*页面定义结束---*/


.left{float: left;}
.right{float: right;}
.clear{clear:both;}
.no_way{clear:both; display:block; overflow:hidden; height:0; margin:0; padding:0; line-height:0; font-size:0;}
.dis{display: block;}
.undis{display: none;}

   
.gMain{clear:both; margin:0 auto; width:960px; padding:0px;}

.blank5{clear:both; height:5px; overflow:hidden;}
.blank8{clear:both; height:8px; overflow:hidden;}
.blank10{clear:both; height:10px; overflow:hidden;}
   

.cor_700{width:700px; padding:0; margin:0;}
.cor_250{width:250px; padding:0; margin:0;}

.mar_r10{margin-right:10px;}
.mar_t10{margin-top:10px;}


/*文字样式*/
/*可选颜色：orage--yellow--pink--lightRed--red--deepRed--green--lightBlue--blue--deepBlue--gray666--white*/
    
/*橙--“orage”-----*/.orage,.orage a:link,.orage a:visited,a.orage:link,a.orage:visited{color:#fefae3;}
/*黄--“yellow”----*/.yellow,.yellow a:link,.yellow a:visited,a.yellow:link,a.yellow:visited{color:#f3fe76;}
/*粉--“pink”------*/.pink,.pink a:link,.pink a:visited,a.pink:link,a.pink:visited{color:#000;}
/*浅红“lightRed”--*/.lightRed,.lightRed a:link,.lightRed a:visited,a.lightRed:link,a.lightRed:visited{color:#000;}
/*大红“red”-------*/.red,.red a:link,.red a:visited,a.red:link,a.red:visited{color:#000;}
/*深红“deepRed”---*/.deepRed,.deepRed a:link,.deepRed a:visited,a.deepRed:link,a.deepRed:visited{color:#cc3300;}

/*正绿“green”-----*/.green,.green a:link,.green a:visited,a.green:link,a.green:visited{color:#000;}
/*淡蓝“lightBlue”-*/.lightBlue,.lightBlue a:link,.lightBlue a:visited,a.lightBlue:link,a.lightBlue:visited{color:#000;}
/*湖蓝“blue”------*/.blue,.blue a:link,.blue a:visited,a.blue:link,a.blue:visited{color:#000;}
/*深蓝“deepBlue”--*/.deepBlue,.deepBlue a:link,.deepBlue a:visited,a.deepBlue:link,a.deepBlue:visited{color:#000;}

/*灰“gray666”-----*/.gray666,.gray666 a:link,.gray666 a:visited,a.gray666:link,a.gray666:visited{color:#666;}
/*白“white”-------*/.white,.white a:link,.white a:visited,a.white:link,a.white:visited{color:#fff;}
.HT,.HT a:link,.HT a:visited,a.HT:link,a.HT:visited { font-family:"黑体";}

/*chass=“font_20”时*/.font_20,.font_20 a:link,.font_20 a:visited { font-size:20px;}
/*chass=“font_14”时*/.font_14,.font_14 a:link,.font_14 a:visited { font-size:14px;}
/*chass=“b”时*/.b,.b a:link,.b a:visited,a.b:link,a.b:visited{ font-weight:bold;}
/*chass=“u”时*/.u,.u a:link,.u a:visited,a.u:link,a.u:visited{ text-decoration:underline;}

.bigbg { width:100%; #fefae3 repeat-x;}

.titbg02 i { float:left; padding-top:10px; padding-left:24px;}
.bk { width:698px; float:left; border:1px solid #fcad9a; background:#fff;}
.juj01 { width:678px; float:left; padding-left:10px; padding-right:10px; line-height:22px; text-align:left;}
.juj01 li { width:648px; float:left; padding-left:5px; padding-right:25px; border-bottom:1px dashed #ccc;}
.juj01 li span { float:right; width:445px; text-align:left;}
.bk2 { width:248px; float:left; border:1px solid #fcad9a; background:#fff;}
.titbg03 { width:248px; float:left; background:url(../images/titbg01.jpg) no-repeat; height:31px;}
.titbg03 i { float:left; padding-top:9px; padding-left:30px;}

.list01 { width:232px; float:left; padding-left:8px; padding-right:8px; text-align:left;}
.list01 li { width:222px; float:left; padding-left:10px; background:url(../images/dot_666.gif) no-repeat 0px 8px; line-height:23px;}
.list02 { width:232px; float:left; padding-left:8px; padding-right:8px; text-align:left;}
.list02 li {width:232px; float:left;line-height:23px;}
.list02 li p { width:232px; text-align:right;}

.jujtxt { width:678px; padding:10px; float:left;}
.jujscroll { width:663px; height:393px; overflow-y:scroll; overflow-x:none; text-align:left; line-height:24px; font-size:14px; padding-left:15px;}

.bk3 { width:958px; float:left; border:1px solid #fcad9a; background:#fff;}
.titbg04 { width:958px; float:left; background:url(../images/titbg03.jpg) no-repeat; height:32px; }
.titbg04 i { float:left; padding-top:9px; padding-left:30px;}

.ly {width:690px;}
.bb { font-weight:bold; font-size:12px;}
.ly  a.bb:hover {font-weight:bold; text-decoration:none; font-size:12px; color:#333;}
.lyxx {width:413px;}
.lyxx h2 { width:400px; padding-left:7px; padding-top:5px; height:23px; background-color:#e3e3e3; font-size:12px; font-weight:normal; font-family:"宋体"; margin-top:5px; margin-bottom:2px;}

.lyxx p { padding:0px 7px 0px 7px; line-height:22px; font-family:"宋体"; font-weight:normal; text-indent:2em;} 


.txtf02 input { width:132px; height:16px;}
.txt03  textarea{ width:158px; height:79px;}
.titbg05 { width:958px; float:left; background:url(../images/linkbg.jpg) repeat-x; height:34px; }
.titbg05 i { float:left; padding-top:9px; padding-left:20px;}

.linkq { width:958px; padding-left:10px; padding-right:10px; text-align:left; line-height:24px;}

.ch { line-height:45px; text-align:center;}

.daodu {line-height:22px; width:270px; float:left; padding-top:10px; padding-left:10px; padding-right:10px; text-align:left;}