/* CSS Document */
/*整体的字体、间距、列表*/
html {color:#333;background:#FFF;font-family:宋体;}
body,div,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body {font-size:12px;text-align:center; repeat-x;}
form, img, p,fieldset,dl,dt,dd{border:0px;}
ul, li{margin:0px auto; padding:0px; list-style:none; list-style-position:outside;}
caption,th {text-align:left;}
dl,dt,dd{margin:0px; padding:0px; border:0px;}

input,select{color:#666; font-size:12px;}
a:link,a:visited { font-family:"宋体";color: #333333; text-decoration: none; font-weight: normal;}
a:hover {color: #BD0A01; text-decoration: underline; font-weight: normal;}
i{ font-style:normal;}

.left{float: left;}
.right{float: right;}
.clear{clear:both;}
.no_way{clear:both; display:block; overflow:hidden; height:0; margin:0; padding:0; line-height:0; font-size:0;}
.dis{display: block;}
.undis{display: none;}

/*整体框架*/
.zt_main{clear:both; margin:0 auto; width:960px; padding:0px;}
.blank5{clear:both; height:5px; overflow:hidden;}
.blank8{clear:both; height:8px; overflow:hidden;}
.blank10{clear:both; height:10px; overflow:hidden;}


.cor_230{width:230px; padding:0; margin:0;}

.mar_r10{margin-right:10px;}
.mar_t10{margin-top:10px;}
/*chass=“white”时*/.white,.white a:link,.white a:visited,a.white:link,a.white:visited{color:#fff;}
/*chass=“gray666”时*/.gray666,.gray666 a:link,.gray666 a:visited,a.gray666:link,a.gray666:visited{color:#666;}
/*chass=“blue_1”时*/.blue_1,.blue_1 a:link,.blue_1 a:visited,a.blue_1:link,a.blue_1:visited{color:#D74E00;}
/*chass=“blue_2”时*/.blue_2,.blue_2 a:link,.blue_2 a:visited,a.blue_2:link,a.blue_2:visited{color:#D74E00;}
/*chass=“font_14”时*/.font_14,.font_14 a:link,.font_14 a:visited { font-size:14px;}
/*chass=“b”时*/.b,.b a:link,.b a:visited,a.b:link,a.b:visited{ font-weight:bold;}
/*chass=“u”时*/.u,.u a:link,.u a:visited,a.u:link,a.u:visited{ text-decoration:underline;}

.toutiao h2 { font-family:"黑体"; font-size:20px; line-height:30px; }
.toutiao h2 a:link,.toutiao h2 a:visited {font-family:"黑体"; font-size:20px; line-height:30px;}
.toutiao span { padding:10px 10px 10px 20px; line-height:22px; width:400px; float:left;}
.ppstyle img { border:1px solid #ccc;}

.mar_main{width:900px;margin:0 auto;overflow:hidden;border:1px solid #FFDECE; padding:20px 29px 0}
.marquee {width:900px;height:190px; margin:0 auto;overflow:hidden;}
.marquee li{ display:inline; background:none; float:left; margin-right:20px;}
.marquee li a{ width:210px; height:190px; display:block; float:left; text-align:center; font-size:12px;}
.marquee li a:hove{ text-decoration:none;}
.marquee li img {width:210px; height:150px;}
.marquee li em{font-style: normal; height:24px; line-height:24px; display:block; margin-top:8px;}

#Tabs_01{ width:938px; padding:10px; margin:0 auto; border:1px solid #FFDECE; height:auto; overflow:hidden;}
.tag_01_title{height:45px; font-size:16px; padding-left:10px; font-family:"Microsoft YaHei", "微软雅黑", "SimHei", "黑体", "宋体";}
.tabs_01{float:left;background: none; margin-right:30px;width:204px;text-align:center;  height:35px; padding-top:10px;}
a.tabs_01:link,a.tabs_01:visited{text-decoration:none;color:#333;font-weight:bold;}
a.tabs_01:hover{text-decoration:none;color:#333;font-weight:bold;}
.tag_01{ background:url(../images/sc.jpg) no-repeat center bottom; width:204px;text-align:center; height:35px; padding-top:10px;}
a.tag_01:link,a.tag_01:visited{ color:#FFDECE;text-decoration:none; font-weight:bold;}
a.tag_01:hover{ color:#FFDECE;text-decoration:none;font-weight:bold;}

.hide {display:none;}
.clearfix{clear:both;display:block;overflow:hidden;height:0px;margin:0px;padding:0px;line-height:0; font-size:0;}
.m920{ width:958px; margin:0 auto;border:1px solid #FFDECE; height:auto; background:#FEFEFE;}
/*轮显*/
#scroll_box{ width:958px; position:relative; margin-top:20px;}
.box_163css{
	width:830px;
	height:590px;
	position:relative;
	overflow:hidden;
	margin:0 auto;
	z-index:100;
}
.box_163css img{ display:block;}
.box_163css  li{float:left; display:inline; width:830px; background:none;}
.scroll_nav{ width:830px; height:84px; padding-top:6px; position:absolute; text-align:center; bottom:0;}
.scroll_nav li{ width:150px; height:75px; padding:6px 3px 3px 3px; cursor:pointer; margin:0 5px; display:inline; overflow:hidden;}
.scroll_nav li.current{ background:url(../images/img_2.jpg) no-repeat left top;}
.prev,.next{ cursor:pointer; width:32px; height:66px; top:50%;  }
.prev{ left:20px; background-position:0 -52px;}
.next{ right:10px; background-position:-27px -52px;}
.oh{ overflow:hidden;}
.ov{ overflow:visible;}
.pr{ position:relative;}
.pa{ position:absolute;}
/*定义焦点图容器*/
#player {width:310px;height:200px;}/*定义图像大小*/
.picfocus {width:auto;height:auto;overflow:hidden;position:relative;}
.play_list a{ display:block;position:absolute;overflow:hidden;width:100%;height:100%;}
	
/*定义图像说明文字背景*/
.play_bg{position:absolute;bottom:0;background-color:#000;margin-bottom:0px;height:32px;width:100%;filter: Alpha(Opacity=70);opacity:0.7;z-index:1000}	
.play_info{position:absolute;bottom:0px;right:0px;padding:0px;height:32px;line-height:32px;width:96%;color:#fff;z-index:1001;cursor:pointer;font-size:14px;	display:block;font-weight:bold}
/*定义按钮区域位置*/
.play_text {position:absolute;bottom:0;	right:0;height:32px;z-index:1002;margin:0}	
.play_text ul {list-style-type:none;height:25px;display:block;_padding-top:0px;	z-index:1003;margin:0}	
.play_text ul li{width:18px;height:15px;float:left;font-family:'Arial Black';background-color:#927a76;display:block;color:#FFF;text-align:center;margin-left:1px;cursor:pointer;font-family:Arial;font-size:12px;margin-top:9px;list-style:none;padding:0;background-image:none;}	
/*定义当前焦点图的按钮颜色*/
.play_text ul li.current {background-color:#ff8000;	color:#fff;}	
.play_btn {position:absolute;bottom:0;right:0;height:32px;z-index:1002;margin:0}	
.play_btn ul {list-style-type:none;	height:25px;display:block;_padding-top:0px;z-index:1003;margin:0}	
.play_btn ul li{width:16px;	height:13px;float:left;font-family:'Arial';background-color:#FF9D24;display:block;color:#FFF;text-align:center;margin-left:1px;cursor:pointer;font-size:11px;margin-top:9px;}	
/*定义当前焦点图的按钮颜色*/
.play_btn ul li.current {background-color:red;color:#fff;}