/* CSS Document */
/*整体的字体、间距、列表*/
html {color:#333;background:#FFF;font-family:宋体;}
body,div,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body {font-size:12px;text-align:center; background:url(../images/bg.gif) repeat-x;}
form, img, p,fieldset,dl,dt,dd{border:0px;}
ul, li{margin:0px auto; padding:0px; list-style:none; list-style-position:outside;}
caption,th {text-align:left;}
dl,dt,dd{margin:0px; padding:0px; border:0px;}

input,select{color:#666; font-size:12px;}
a:link,a:visited { font-family:"宋体";color: #333333; text-decoration: none; font-weight: normal;}
a:hover {color: #BD0A01; text-decoration: underline; font-weight: normal;}
i{ font-style:normal;}

.left{float: left;}
.right{float: right;}
.clear{clear:both;}
.no_way{clear:both; display:block; overflow:hidden; height:0; margin:0; padding:0; line-height:0; font-size:0;}
.dis{display: block;}
.undis{display: none;}

/*整体框架*/
.zt_main{clear:both; margin:0 auto; width:960px; padding:0px;}
.blank5{clear:both; height:5px; overflow:hidden;}
.blank8{clear:both; height:8px; overflow:hidden;}
.blank10{clear:both; height:10px; overflow:hidden;}


.cor_230{width:230px; padding:0; margin:0;}

.mar_r10{margin-right:10px;}
.mar_t10{margin-top:10px;}
/*chass=“white”时*/.white,.white a:link,.white a:visited,a.white:link,a.white:visited{color:#fff;}
/*chass=“gray666”时*/.gray666,.gray666 a:link,.gray666 a:visited,a.gray666:link,a.gray666:visited{color:#666;}
/*chass=“blue_1”时*/.blue_1,.blue_1 a:link,.blue_1 a:visited,a.blue_1:link,a.blue_1:visited{color:#0362bb;}
/*chass=“blue_2”时*/.blue_2,.blue_2 a:link,.blue_2 a:visited,a.blue_2:link,a.blue_2:visited{color:#0344bb;}
/*chass=“font_14”时*/.font_14,.font_14 a:link,.font_14 a:visited { font-size:14px;}
/*chass=“b”时*/.b,.b a:link,.b a:visited,a.b:link,a.b:visited{ font-weight:bold;}
/*chass=“u”时*/.u,.u a:link,.u a:visited,a.u:link,a.u:visited{ text-decoration:underline;}

.toutiao h2 { font-family:"黑体"; font-size:20px; line-height:30px; }
.toutiao h2 a:link,.toutiao h2 a:visited {font-family:"黑体"; font-size:20px; line-height:30px;}
.toutiao span { padding:10px 10px 10px 20px; line-height:22px; width:400px; float:left;}
.ppstyle img { border:1px solid #ccc;}
/*定义焦点图容器*/
#player {width:300px;height:210px;}/*定义图像大小*/
.picfocus {width:auto;height:auto;overflow:hidden;position:relative;}
.play_list a{ display:block;position:absolute;overflow:hidden;width:100%;height:100%;}
	
/*定义图像说明文字背景*/
.play_bg{position:absolute;bottom:0;background-color:#000;margin-bottom:0px;height:32px;width:100%;filter: Alpha(Opacity=70);opacity:0.7;z-index:1000}	
.play_info{position:absolute;bottom:0px;right:0px;padding:0px;height:32px;line-height:32px;width:96%;color:#fff;z-index:1001;cursor:pointer;font-size:14px;	display:block;font-weight:bold}
/*定义按钮区域位置*/
.play_text {position:absolute;bottom:0;	right:0;height:32px;z-index:1002;margin:0}	
.play_text ul {list-style-type:none;height:25px;display:block;_padding-top:0px;	z-index:1003;margin:0}	
.play_text ul li{width:18px;height:15px;float:left;font-family:'Arial Black';background-color:#927a76;display:block;color:#FFF;text-align:center;margin-left:1px;cursor:pointer;font-family:Arial;font-size:12px;margin-top:9px;list-style:none;padding:0;background-image:none;}	
/*定义当前焦点图的按钮颜色*/
.play_text ul li.current {background-color:#ff8000;	color:#fff;}	
.play_btn {position:absolute;bottom:0;right:0;height:32px;z-index:1002;margin:0}	
.play_btn ul {list-style-type:none;	height:25px;display:block;_padding-top:0px;z-index:1003;margin:0}	
.play_btn ul li{width:16px;	height:13px;float:left;font-family:'Arial';background-color:#FF9D24;display:block;color:#FFF;text-align:center;margin-left:1px;cursor:pointer;font-size:11px;margin-top:9px;}	
/*定义当前焦点图的按钮颜色*/
.play_btn ul li.current {background-color:red;color:#fff;}