@import "../../../assets/style/theme.scss";

.externalBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  background-color: $theme-content-bg;
  font-family: $theme-ff;
  box-shadow: 0px 1px 2px 0.5px rgba(0, 0, 0, 0.3) inset;
  transition: 0.3s;
  margin-bottom: 15px;
  cursor: pointer;
  width: 30%;
  padding: 15px;
  .cardT {
    display: flex;
    align-items: center;
    min-height: 60px;
    .logo {
      width: 60px;
      margin-right: 10px;
    }
  }
  .subT {
    border-top: 1px solid #555;
    padding-top: 15px;
    margin-top: 15px;
    font-size: 14px;
  }
}
.card:hover {
  box-shadow: 0 6px 5px -3px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
  transition: 0.3s;
}

/* 移动端样式*/
@media screen and (max-width: 750px) {
  .card {
    width: 45%;
  }
}
@media screen and (max-width: 550px) {
  .card {
    width: 100%;
  }
}
