.banner{
	background: url(../images/mbanner.jpg) no-repeat;
	height: 380px;
}
.fixbox{
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	margin-top: -34px;
}
.span1{
	font-size: 28px;
	line-height: 45px;
}
.select1{
	height: 45px;
}
.select-li:nth-child(2){
	float: right;
}
.zs{
	font-size: 22px;
	margin-top: 40px;
	margin-left: 0px;
}
.sel-li:first-child{
	margin-top: 20px;
}
.sel-lf{
	font-size: 32px;
}
.num{
	height: 34px;
	line-height: 34px;
}
.zy{
	height: 34px;
	line-height: 34px;
}
.sel-ri{
	height: 34px;
	line-height: 34px;
}
.sel-item{
	font-size: 28px;
	height: 55px;
	border-radius: 10px;
	line-height: 55px;
	margin: 30px 18.333px 0 18.333px;
}
.sel-item{
	width: 310px;
}
.sel-cont{
	max-height: 270px;
}
.bq{
	margin-top: 10px;
}
.kybox-head{
	height: 58px;
}
.word-kybox{
	font-size: 32px;
	line-height: 34px;
}
.box{
	margin-top: 18px;
}
.footer{
	font-size: 30px;
}
.sword{
	margin-top: 3px;
}
.pc{
	display: none;
}
.m{
	display: block;
}

.include{
	display: block;
}