@charset "utf-8";
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0; padding:0; list-style:none; text-decoration:none;}
i,em{font-style:normal;}
input, select{vertical-align:middle; font-family:"宋体";}
a{color:#333; text-decoration:none;}
a:hover{text-decoration:none; }
a img{border:0 none;}
a, input, textarea{outline:none;}
input:focus, select:focus, textarea:focus{color:#666 !important;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
.tl li{white-space:nowrap; overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.dian{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.mtf_30{margin-left: 30px;}
.mt_10{margin-top: 10px;}

html{-webkit-text-size-adjust: none;-webkit-text-size-adjust: 100%;}
body{font-family:"microsoft yahei"; color:#333;}

.banner{
	width: 100%;
	height: 610px;
	background: url(../images/banner.jpg) no-repeat;
	background-position: center;
}

.fixbox{
	width: 880px;
	margin: 0 auto;
}
.main{
	margin-top: 70px;
}
.select-li{
	float: left;
}
.span1{
	float: left;
	font-size: 22px;
	color: #333333;
	line-height: 35px;
}
.select1{
	float: left;
	width: 120px;
	height: 35px;
	border: 1px solid #1980f7;
	background: #fff;
	margin-left: 15px;
}
.zs{
	font-size: 18px;
	line-height: 20px;
	color: #333333;
	margin-left: 40px;
	margin-top: 10px;
}
.select-head{
	margin-top: 80px;
	padding-bottom: 5px;
	padding-left: 20px;
	border-bottom: 2px solid #2281eb;
}
.select-head img{
	float: left;
	margin-top: 5px;
	width: 32px;
	height: 32px;
}
.select-head span{
	float: left;
	font-size: 36px;
	height: 40px;
	line-height: 40px;
	color: #333333;
	margin-left: 15px;
}
.sel-li{
	margin-top: 35px;
}
.sel-li+.sel-li{
	margin-top: 80px;
}
.sel-head{
	width: 100%;
	padding: 12px 0;
	background: #2281eb;
}
.sel-lf{
	float: left;
	font-size: 24px;
	color: #fff;
	border-left: 4px solid #fff;
	margin-left: 18px;
}
.sel-ri{
	float: right;
	height: 26px;
	padding: 0 16px;
	cursor: pointer;
	line-height: 26px;
}
.sel-ri img{
	vertical-align: middle;
}
.num{
	float: left;
	height: 26px;
	line-height: 26px;
	margin-left: 12px;
}
.zy{
	float: left;
	height: 26px;
	line-height: 26px;
	margin-left: 12px;
}
.bq{
	float: left;
	margin-top: 4px;
	margin-left: 15px;
}
.sel-item{
	float: left;
	width: 269px;
	height: 45px;
	border: 2px solid #65b5ff;
	border-radius: 5px;
	font-size: 20px;
	color: #424242;
	text-align: center;
	line-height: 45px;
	margin: 30px 10px 0 10px;
}
.sel-item a{
	color: #424242;
}
.sel-cont{
	max-height: 240px;
	overflow: hidden;
}
.select-bot{
	margin-top: 75px;
}
.kybox-head{
	width: 100%;
	height: 48px;
	background: #2281eb;
}
.box{
	float: left;
	margin-left: 18px;
	margin-top: 14px;
}
.word-kybox{
	float: left;
	font-size: 24px;
	color: #fff;
	line-height: 24px;
	margin-top: 12px;
	margin-left: 15px;
}
.kybox-icon{
	width: 710px;
	margin: 40px auto 0;
}
.icon-item{
	float: left;
	text-align: center;
}
.icon-item+.icon-item{
	margin-left: 86px;
}
.icon-item img{
	display: block;
}
.icon-item span{
	display: block;
	font-size: 20px;
	color: #424242;
	margin-top: 12px;
}
.kylist-box{
	width: 710px;
	margin: 45px auto 0;
	border: 1px solid #e6e7e7;
}
.kylist-ul{
	padding: 10px 55px;
}
.kylist-ul+.kylist-ul{
	border-top: 1px solid #e6e7e7;
}
.kylist-li{
	float: left;
	width: 150px;
}
.kylist-li+.kylist-li{
	margin-left: 75px;
}
.sicon{
	float: left;
	width: 32px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.sicon img{
	vertical-align: middle;
}
.sword{
	float: left;
	font-size: 20px;
	color: #424242;
	line-height: 40px;
	margin-left: 15px;
}
.sword a{
	color: #424242;
}
.footer{
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background: #2281eb;
	font-size: 20px;
	color: #fff;
	margin-top: 55px;
}
.m{
	display: none;
}
.copyright #glbbot{
	margin: 0 auto;
	border: none;
	padding: 50px 0;
	color: #fff;
	line-height: 30px;
}
.copyright #glbbot a{
	color: #fff;
}
.include{
	display: none;
}