@charset "utf-8";
*{margin:0; padding:0; list-style:none; text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
i,em{font-style:normal;}
input, select{vertical-align:middle; font-family:"宋体";}
a{color:#333; text-decoration:none;}
a:hover{text-decoration:none; }
a img{border:0 none;}
a, input, textarea{outline:none;}
input:focus, select:focus, textarea:focus{color:#666 !important;}
.tl li{white-space:nowrap; overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix{zoom:1; _height:1px;}
*html .clearfix{height:1%;}
*+html .clearfix{height:1%;}
.tac{text-align:center !important;}
.tal{text-align:left !important;}
.tar{text-align:right !important;}
.fwb{font-weight:bold !important;}
.dib{display:inline-block; *zoom:1; *display:inline;}
.wot{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.db{display:block !important;}
.hide{display:none !important;}
.bgn{background:none !important;}
.bdn{border:none !important;}
.pr{position:relative;}
.pa{position:absolute;}
a.mc{color:#52960f;}
.hauto{height:auto !important;}
.fs14{font-size:14px !important;}

.pd_25{
	padding-left: 25px;
	padding-right: 25px;
}
.pd_50{
	padding-top: 50px;
	padding-bottom: 50px;
}
.bg-w{
	background: #f7f7f7;
}
.bg-gray{
	width: 100%;
	height: 10px;
	background: #e1e1e1;
}

.logo{
	width: 200px;
	height: 50px;
	margin-top: 15px;
	margin-right: 15px;
	float: right;
	cursor: pointer;
	background: url("//www.eol.cn/html/ky/2016dg/images/logo.png") no-repeat top right;
	background-size:100% 95%;
}
.banner-m{
	width: 100%;
	height: 475px;
	box-sizing: border-box;
	background:url(../images/kydg.png) no-repeat;
	background-position: center;
	padding: 370px 25px 0 25px;
}
.tab>div{
	float: left;
	width: 300px;
	height: 60px;
	border-radius: 30px;
	text-align: center;
	line-height: 56px;
	box-sizing: border-box;
	font-size: 30px;
	color: #1db9e9;
	border: 2px solid #1ea8e1;
	background: #1f5cb8;
	position: relative;
}
.tab>div:nth-child(1){
	margin-right: 100px;
}
.sanjiao{
	width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 18px solid #31a8ec;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -9px;
    display: none;
}
.active-div{
	background: #31a8ec !important;
	color: white !important;
}
.active-div>.sanjiao{
	display: block !important;	
}

.gyky{
	width: 692px;
	height: 70px;
	margin: 0 auto;
	box-sizing: border-box;
	background: url(../images/hk1.png) no-repeat;
	background-position: center;
	padding-left: 160px;
	font-size: 0;
	margin-bottom: 35px;
}
.gyky>span{
	float: left;
}
.gyky>span:nth-child(1){
	font-size: 36px;
	color: white;
	font-weight: bold;
	line-height: 68px;
}
.gyky>span:nth-child(2){
	width: 50px;
	height: 5px;
	background: white;
	margin: 30px 10px 0 10px;
}
.gyky>span:nth-child(3){
	font-size: 24px;
	color: white;
	line-height: 68px;
}
.smskydg-h{
	display: flex;
	align-items: center;
}
.smskydg-h img{
	display: block;
}
.smskydg-h>div:nth-child(2){
	font-size: 30px;
	margin-left: 15px;
}
.smskydg-c{
	margin-top: 30px;
	font-size: 20px;
	line-height: 36px;
	text-align: justify;
	text-indent: 2em;
}
.dg-time{
	padding: 30px 25px 40px 25px;
}
.time-tab{
	margin-top: 30px;
}
.time-tab>ul{
	width: 640px;
	margin: 0 auto;
}
.time-tab>ul>li{
	width: 320px;
	height: 40px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	line-height: 38px;
	font-size: 18px;
	background: #ffee9e;
	color: #763800;
	border-top: 1px solid #efb400;
	border-left:1px solid #efb400 ;
}
.time-tab>ul>li:last-child{
	border-right: 1px solid #efb400;
}
.time-tab>ul:last-child li{
	border-bottom: 1px solid #efb400;
}
.da-fl{
	padding: 25px 25px 35px 25px;
}
.gongbu>div{
	float: right;
	font-size: 18px;
	color: #31a8ec;
	margin-top: 10px;
}
.br-box{
	margin-top: 20px;
	font-size: 18px;
}
.b-box{
	display: flex;
	align-items: center;
}
.b-box>div{
	float: left;
	background: #31A8EC;
	color: white;
	border-radius: 10px;
	text-align: center;
}
.b-box1{
	width: 145px;
	height: 65px;
	padding-top: 10px;
}
.b-box1>div:nth-child(2){
	margin-top: 10px;
}
.line{
	width: 60px;
	height: 2px;
}
.b-box2{
	width: 125px;
	height: 50px;
	line-height: 50px;
}
.r-box{
	margin-top: 25px;
	display: flex;
	align-items: center;
}
.r-box>div{
	float: left;
	background: #e3674f;
	color: white;
	border-radius: 10px;
	text-align: center;
}
.r-box2{
	width: 240px;
	height: 50px;
	line-height: 50px;
}
.r-box3{
	width: 210px;
	height: 50px;
	line-height: 50px;
}
.desc{
	margin-top: 30px;
	border: 1px solid #ccc;
	padding: 25px 20px;
	text-align: justify;
	font-size: 20px;
	line-height: 36px;
}
.zongjie{
	margin-top: 30px;
	text-indent: 2em;
	font-size: 20px;
	line-height: 36px;
}
.zongjie>i{
	color: #e84a2d;
}
.yong-dg{
	padding: 30px 25px 45px 25px;
}
.ydg-ul{
	margin-top: 40px;
}
.ydg-li{
	float: left;
	width: 200px;
	height: 270px;
	border-radius: 10px;
	overflow: hidden;
}
.ydg-li+.ydg-li{
	margin-left: 50px;
}
.li-title{
	height: 75px;
	padding: 20px 30px 0 30px;
	background: #31A8EC;
	color: white;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
}
.li-desc{
	height:160px;
	padding: 15px 30px 0 30px;
	background: #e7f7ff;
	font-size: 18px;
	line-height: 30px;
}
.pd_36{
	padding-top: 36px !important;
}
.cont-ri{
	display: none;
}
.yy{
	padding: 35px 25px;
}
.dgyw{
	width: 692px;
	height: 70px;
	margin: 0 auto;
	box-sizing: border-box;
	background: url(../images/hk1.png) no-repeat;
	background-position: center;
	font-size: 36px;
	text-align: center;
	color: white;
	font-weight: bold;
	line-height: 60px;
	margin-bottom: 35px;
}
.yy-yw{
	height: 190px;
	border: 1px solid #ccc;
	background: #e7f7ff;
	margin-top: 30px;
}
.yy-yw>div{
	float: left;
}
.yy-yw1{
	width: 430px;
	height: 190px;
	box-sizing: border-box;
	border-right: 1px solid #ccc;
	padding-top: 30px;
}
.yy-yw1>div{
	padding-left: 22px;
	margin-bottom: 25px;
}
.yy-yw1 a{
	font-size: 22px;
	color: #31a8ec;
	text-decoration: underline;	
}
.yy-yw1>p>a{
	text-decoration: none;
	color: #999999;
	font-size: 18px;
	float: right;
	padding-right: 45px;
}
.yy-yw2{
	width: 110px;
	height: 190px;
	box-sizing: border-box;
	border-right: 1px solid #ccc;
	text-align: center;
	padding-top: 60px;
}
.yy-yw2>div:nth-child(2){
	margin-top: 10px;
}
.yy-yw3{
	width:158px;
	height:190px;
}
.yy-yw3>div{
	width: 158px;
	height:47.5px;
	border-bottom: 1px solid #ccc;
	text-align: center;
	line-height: 47.5px;
	font-size: 18px;
}
.yy-yw3>div:last-child{
	border-bottom: none;
}
.yy-tab{
	margin-top: 30px;
}
.yy-li{
	float: left;
	width:233.33333px ;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	border: 1px solid #ccc;
	text-align: center;
	box-sizing: border-box;
}
.yy-li+.yy-li{
	border-left: none;
}
.active-yyli{
	background: #31a8ec;
	color: white;
	border: none;
}
.yy-tab-cont{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 30px 0 30px 25px;
}
.yy-tab-cont>div>div{
	font-size: 22px;
}
.yy-tab-cont>div>div+div{
	margin-top: 30px;
}
.yy-tab-cont>div+div{
	display: none;
}
.zz .yy-yw{
	height: 200px;
}
.zz .yy-yw>div{
	height: 200px;
}
.zz .yy-yw3>div{
	height: 40px;
	line-height: 40px;
}
.zz .yy-li{
	width: 175px;
}
.sx .yy-yw2{
	padding-top: 0;
}
.sx .yy-yw2>div:nth-child(1){
	height: 123px;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
	padding-top: 30px;
}
.sx .yy-yw2>div:nth-child(1)>div:nth-child(1){
	margin-bottom: 15px;
}
.sx .yy-yw2>div:nth-child(2){
	margin-top: 28px;
}
.sx .yy-li{
	width: 233.3333px;
}
.zhuanye{
	padding: 35px 25px 45px 25px;
}
.xueke{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 40px;
}
.xueke>div{
	width: 325px;
	height: 220px;
	box-sizing: border-box;
	border: 1px solid #c9e2ee;
	margin-bottom: 30px;
	border-radius: 10px;
	overflow: hidden;
}
.xueke>div:last-child{
	margin-bottom: 0;
}
.xueke-title{
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 28px;
	background: #31A8EC;
	color: white;
}
.xueke-desc{
	padding: 30px 0 0 20px;
}
.xueke-desc a{
	display: block;
	font-size: 20px;
	text-decoration: underline;
}
.xueke-desc a:nth-child(2){
	margin-top: 30px;
}
.kybbx{
	width: 692px;
    height: 70px;
    margin: 0 auto;
    box-sizing: border-box;
    background: url(../images/hk1.png) no-repeat;
    background-position: center;
    font-size: 36px;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 68px;
    margin-bottom: 35px;
}
.icon-div{
	padding:0px 25px 30px 25px;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}
.icon-div>div{
	width: 120px;
	text-align: center;
}
.icon-div>div img{
	width: 120px;
	display: block;
	text-align: center;
	margin: 0 auto;
}
.icon-div>div p{
	font-size: 24px;
	margin-top: 25px;
}
.icon-div2{
	padding: 0 25px 30px 25px;
}
.icon-div2>div{
	float: left;
	text-align: center;
}
.icon-div2>div:nth-child(2){
	margin-left: 70px;
}
.icon-div2>div:nth-child(3){
	margin-left: 40px;
}
.icon-div2>div:last-child{
	float: right;
}
.icon-div2 img{
	display: block;
	width: 120px;
	margin: 0 auto;
}
.icon-div2 p{
	font-size: 22px;
	margin-top: 25px; 
}
.bottom{
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 30px;
	background: #31A8EC;
	color: white;
}
.ad_sw{
	display: block;
}
