@charset "utf-8";
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0; padding:0; list-style:none; text-decoration:none;}
i,em{font-style:normal;}
input, select{vertical-align:middle; font-family:"宋体";}
a{color:#333; text-decoration:none;}
a:hover{text-decoration:none; }
a img{border:0 none;}
a, input, textarea{outline:none;}
input:focus, select:focus, textarea:focus{color:#666 !important;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
.tl li{white-space:nowrap; overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.dian{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.mtf_30{margin-left: 30px;}
.mt_10{margin-top: 10px;}

html{-webkit-text-size-adjust: none;-webkit-text-size-adjust: 100%;}
body{font-family:"microsoft yahei"; color:#333;}

.banner{
	width: 100%;
}
.banner{
	width: 100%;
	height: 522px;
	background: url(../images/banner.png) no-repeat;
	background-position: center;
}
.center{
	width: 1190px;
	margin: 0 auto;
}
.adbox{
	padding: 45px 0 10px 0;
}
.adbox img{
	width: 590px;
	height: 60px;
	display: block;
}
.mtf_0{
	margin-left: 0px !important;
}
.subject-li{
	float: left;
	width: 190px;
	height: 82px;
	position: relative;
	margin-left: 60px;
	margin-top: 35px;
}
.grayK{
	width: 185px;
	height: 75px;
	border: 2px solid #333;
	box-sizing: border-box;
	position: absolute;
	top: 7px;
	left: 5px;
	z-index: 1;
}
.subject-name{
	width: 185px;
	height: 75px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	transition: all 0.5s;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
	color: #fff;
	z-index: 10;
}
.subject-name:hover{
	top: 7px;
	left: 5px;
}
.subject-name a{
	color: #fff;
}
.subject-name1{
	background: #40c6a5;
}
.subject-name2{
	background: #fe7a80;
}
.subject-name3{
	background: #d26ed2;
}
.subject-name4{
	background: #4f8de0;
}
.subject-name5{
	background: #90c421;
}
.subject-name6{
	background: #b6b2ff;
}
.subject-name7{
	background: #77b5ee;
}
.subject-name8{
	background: #e1b83a;
}
.subject-name9{
	background: #07bab8;
}
.subject-name10{
	background: #f97832;
}
.subject-name11{
	background: #34c1f6;
}
.subject-name12{
	background: #c2c917;
}
.subject-name13{
	background: #fb537e;
}
.ad2{
	padding: 45px 0 0 0;
}
.contain{
	margin-top: 45px;
}
.ad2+.ad2{
	margin-left: 16px;
}
.ad2 img{
	width: 285px;
	height: 90px;
	display: block;
}
.con-lf{
	width: 840px;
}
.con-fr{
	width: 330px;
}
.sel-head{
	width: 100%;
	height: 60px;
	box-sizing: border-box;
	border: 2px solid #06a0df;
}
.sel-item{
	float: left;
	width: 209px;
	line-height: 56px;
	text-align: center;
	font-size: 20px;
	color: #424242;
	cursor: pointer;
}
.sel-item a{
	color: #424242;
}
.active{
	background: #06a0df;
	color: #fff;
}
.active a{
	color: #fff;
}
.sel-li {
    padding-top: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #E5E5E5;
}
.jian{
	float: left;
	width: 30px;
    height: 26px;
    background: url(//img1.eol.cn/images/ed/kaoyan/2017/jian1.png) no-repeat right center;
	
}
.title{
	float: left;
	height: 26px;
    line-height: 26px;
    font-size: 20px;
    color: #06a0df;
    margin-left: 8px;
}
.title a{
	color: #06a0df;
}
.sel-desc{
	font-size: 14px;
    color: #666666;
    line-height: 24px;
    margin-top: 15px;
}
.sel-desc a{
	color: #666666;
}
.sel-mesg>div{
	height: 24px;
    float: right;
    font-size: 12px;
    color: #BBBBBB;
    line-height: 24px;
    margin-top: 10px;
}
.time{
	margin: 0 20px;
}
.more{
	margin-top: 40px;
    text-align: center;
    font-size: 18px;
    color: #BBBBBB;
    line-height: 33px;
    cursor: pointer;
}
.more a{
	color: #BBBBBB;
}
.sel-ul+.sel-ul{
	display: none;
}
.bk-item{
	width: 298px;
    border: 1px solid #E5E5E5;
    padding: 15px;
}
.bk-head{
	font-size: 16px;
	color: #666666;
	font-weight: bold;
}
.bk-mid-li{
	float: left;
	width: 132px;
	font-size: 14px;
    line-height: 28px;
    background: url(//img1.eol.cn/images/ed/kaoyan/2017/dian.png) left center no-repeat;
    padding-left: 8px;
    color: #666666;
}
.bk-mid-li a{
	color: #666666;
}
.mtf_15{
	margin-left: 15px;
}
.bk-mid{
	padding: 15px 0;
	border-bottom: 1px dashed #E5E5E5;
}
.kygjx-content {
    padding: 25px 0 0 0;
}
.fline, .sline, .tline {
    position: relative;
}
.gongju {
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 15px;
}
.gongju span {
    float: left;
    width: 90px;
    height: 26px;
    line-height: 26px;
    display: block;
    background: url(//img1.eol.cn/images/ed/kaoyan/2017/gongju.png) top center no-repeat;
}
.red-arrow {
    height: 31px !important;
    background: url(//img1.eol.cn/images/ed/kaoyan/2017/gongju2.png) top center no-repeat !important;
}
.gongju span+span {
    margin-left: 14px;
}
.gongju span {
    float: left;
    width: 90px;
    height: 26px;
    line-height: 26px;
    display: block;
    background: url(//img1.eol.cn/images/ed/kaoyan/2017/gongju.png) top center no-repeat;
}
.gongjuxiang {
    width: 274px;
    padding: 12px;
    background: #F0F0F0;
    font-size: 14px;
    color: #666666;
    line-height: 22px;
    margin: 5px 0;
    text-align: left;
}
.fline .gongjuxiang+.gongjuxiang {
    display: none;
}
.sline .gongjuxiang{
	display: none;
}
.tline .gongjuxiang{
	display: none;
}
.msjt {
    width: 298px;
    border: 1px solid #E5E5E5;
    margin-top: 20px;
    padding: 20px 15px;
}
.msjt-head {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: #333333;
    margin-bottom: 15px;
}
.msjt-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}
.msjt-li>div {
    float: left;
}
.msjt-img a {
    display: block;
}
.msjt-img img {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .3s ease;
    -moz-transition: -moz-transform .3s ease;
    -ms-transition: -ms-transform .3s ease;
    transition: transform .3s ease;
}
.msjt-word {
    width: 201px;
    height: 70px;
    margin-left: 15px;
    padding-top: 14px;
    border-bottom: 1px solid #E5E5E5;
}
.msjt-teacher {
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    line-height: 20px;
}
.msjt-shit {
    margin-top: 10px;
    font-size: 14px;
    line-height: 19px;
}
.msjt-li+.msjt-li {
    margin-top: 15px;
}
.ad3{
	width: 155px;
	height: 60px;
}
.ad3+.ad3{
	margin-left: 17.5px;
}
.ad3 img{
	width: 155px;
	height: 60px;
	display: block;
}
.adbox3{
	padding: 30px 0 0 0;
}
.kybox{
	margin-top: 90px;
}
.adul+.adul{
	margin-top: 15px;
}
.kybox-icon{
	width: 1010px;
	margin: 60px auto 0;
}
.icon-item{
	float: left;
	text-align: center;
}
.icon-item img {
    display: block;
}
.icon-item span {
    display: block;
    font-size: 20px;
    color: #424242;
    margin-top: 12px;
}
.icon-item+.icon-item {
    margin-left: 110px;
}
.kylist-box {
    width: 1010px;
    margin: 50px auto 0;
    border: 1px solid #e6e7e7;
}
.kylist-li {
    float: left;
    width: 150px;
}
.sicon {
    float: left;
    width: 32px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.sicon img {
    vertical-align: middle;
}
.sword {
    float: left;
    font-size: 20px;
    color: #424242;
    line-height: 40px;
    margin-left: 15px;
}
.kylist-ul {
    padding: 10px 55px;
}
.kylist-li+.kylist-li {
    margin-left: 95px;
}
.kylist-ul+.kylist-ul {
    border-top: 1px solid #e6e7e7;
}
.copyright{
	width: 100%;
	background: #243f52;
	text-align: center;
	margin-top: 90px;
}
.copyright #glbbot{
	margin: 0 auto;
	border: none;
	padding: 40px 0;
	color: #fff;
	line-height: 34px;
}
.copyright #glbbot a{
	color: #fff;
}
.kybox-head{
	font-size: 45px;
	color: #424242;
	margin-bottom: 60px;
	text-align: center;
}
