
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1497336563178'); /* IE9*/
  src: url('iconfont.eot?t=1497336563178#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1497336563178') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1497336563178') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1497336563178#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  /*font-size:16px;*/
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: red;
}

/*big small*/
.icon-xuandaxue:before { content: "\e601"; font-size:120px;}

.icon-zhuanyeku:before { content: "\e602";font-size:120px;}

.icon-daxueku:before { content: "\e604";font-size:120px; }

.icon-zhangshanggaokao:before { content: "\e605";font-size:120px;}


/*small icon*/

.icon-gaokaoshijian:before { content: "\e606";font-size:40px; }

.icon-gaokaozuowen:before { content: "\e603"; font-size:40px;}

.icon-gaokaozhenti:before { content: "\e609";font-size:40px; }

.icon-gaokaochafen:before { content: "\e607";font-size:40px;}

.icon-gaokaofenshuxian:before { content: "\e608";font-size:40px; }

.icon-zhiyuantianbao:before { content: "\e60a";font-size:40px; }

.icon-gaokaoluqu:before { content: "\e60b";font-size:40px;  }

.icon--daxue:before { content: "\e60c"; font-size:40px; }

.icon-tujiegaokao:before { content: "\e60d"; font-size:40px; }

.icon-zhuanyeredu:before { content: "\e60e"; font-size:40px; }

.icon-daxuepaihangbang:before { content: "\e60f";font-size:40px;  }

.icon-gongjuxiang:before { content: "\e610"; font-size:40px;}

