/* css 通用 */

body, table, td {
	font-size: 12px;
	color: #333333;
	text-align:center;
	margin: 0px auto;
	line-height: 15px;
}

ul,li{
margin: 0px;
padding: 2px;
list-style:none;
}

p{
text-indent: 2em;
padding-top: 3px;
}

img{border:0px;}

h1{
margin: 0px auto;
font-size: 14px;
font-weight: bold;
color: #fff;
}

h2{
margin: 0px auto;
font-size: 14px;
font-weight: bold;
color: #ff6600;
}

h3{
margin: 0px auto;
font-size: 14px;
font-weight: bold;
color: #008800;
}

h4{
margin: 0px auto;
font-size: 14px;
font-weight: bold;
color: #009c68;
}

h5{
margin: 0px auto;
font-size: 14px;
font-weight: bold;
color: #333;
}

.body_green, a.body_green:link, a.body_green:visited{
	margin: 0px auto;
	color: #006600;
	font-size: 16px;
	font-family: 黑体;
	text-decoration: none;
}
a.body_green:hover{
	margin: 0px auto;
	color: #006600;
	font-size: 16px;
	font-family:黑体;
	text-decoration: underline;
}

.body_white{font-size: 12px;
color: #ffffff;
font-weight: bold;
}

.body_white12{font-size: 12px;
color: #ffffff;
}

.body_blue{
	font-size: 12px;
	color: #003399;
	font-weight: bold;
	font-family: arial;
}


.body_blue01{
	font-size: 12px;
	color: #003399;
}

.body_black01{
	font-size: 14px;
	color: #333333;
	font-weight: bold;
	font-family: arial;
}

.body_black02{
	font-size: 13px;
	color: #333333;
	font-weight: bold;
}

.body_red{
	font-size: 12px;
	color: #cc0000;
	font-weight: bold;
	font-family: arial;
}

.red{
	color: #ff6600;
}

a.white:link,a.white:visited {
color: #fff;
text-decoration: none;
font-size: 12px;
}

a.white:hover {
color: #fff;
text-decoration: underline;
font-size: 12px;
}

a.white01:link,a.white01:visited {
color: #fff;
text-decoration: none;
font-size: 14px;
font-weight: bold;
}

a.white01:hover {
color: #fff;
text-decoration: underline;
font-size: 14px;
font-weight: bold;
}

a.white02:link,a.white02:visited {
color: #fff;
text-decoration: none;
font-size: 14px;
}

a.white02:hover {
color: #fff;
text-decoration: underline;
font-size: 14px;
}

a.green:link,a.green:visited {
	color: #333;
	text-decoration: none;
	font-size: 12px;
}

a.green:hover {
	color: #008800;
	text-decoration: none;
	font-size: 12px;
}

a.green12:link,a.green12:visited {
	color: #008800;
	text-decoration: none;
	font-size: 12px;font-weight:normal;
}

a.green12:hover {
	color: #ff6600;
	text-decoration: none;
	font-size: 12px;font-weight:normal;
}

a.green14:link,a.green14:visited {
	color: #008800;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

a.green14:hover {
	color: #009900;
	text-decoration: underline;
	font-size: 14px;
	font-weight: bold;
}

a.red:link,a.red:visited {
	color: #ff6600;
	text-decoration: none;
	font-size: 12px;
}

a.red:hover {
	color: #ff6600;
	text-decoration: underline;
	font-size: 12px;
}

a.red01:link,a.red01:visited {
	color: #ff6600;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}

a.red01:hover {
	color: #ff6600;
	text-decoration: underline;
	font-weight: bold;
	font-size: 14px;
}

.body_red16, a.body_red16:link, a.body_red16:visited{
	margin: 0px auto;
	color: #ff6600;
	font-size: 16px;
	font-family: 黑体;
	text-decoration: none;
}
a.body_red16:hover{
	margin: 0px auto;
	color: #ff6600;
	font-size: 16px;
	font-family:黑体;
	text-decoration: underline;
}
a:link,a:visited {
color: #333333;
text-decoration: none;
}

a:hover {
color: #ff0000;
text-decoration: none;
}

.input{
	border: 1px solid #ccc;
	background-color: #fff;
	height: 15px;
	width: 115px;
}

.input01{
	border: 1px solid #ffc46a;
	height: 20px;
	width: 110px;
}

.input02{
	border: 1px solid #2c9649;
	height: 20px;
	width:150px;
	line-height: 15px;
}

.input03{
	border: 1px solid #2c9649;
	height: 20px;
	line-height: 15px;
}

.right{ float: right;height: 18px;	padding-top: 2px;text-align:left;}
.right01{ float: right; height: 18px;padding-right: 8px;padding-top: 2px;}
.right01a{ float: right; height: 18px;padding-right: 35px;padding-top: 2px;font-size: 14px; color:#007b53;	}

.right01a a:link, .right01a a:visited{
	color:#007b53;
	text-decoration:none;
	font-size: 14px;
}
.right01a a:hover{
	color:#ff6600;
	text-decoration:none;
	font-size: 14px;
}
.right02{ float: right; height: 18px;padding-right: 16px;padding-top: 2px;font-size: 14px; color:#007b53;	}

.right02 a:link, .right02 a:visited{
	color:#007b53;
	text-decoration:none;
	font-size: 14px;
}
.right02 a:hover{
	color:#007b53;
	text-decoration:underline;
	font-size: 14px;
}

.right03{ float: right; height: 18px;padding-right: 8px;padding-top: 2px;font-size: 14px; color:#007b53;	}

.right03 a:link, .right03 a:visited{
	color:#007b53;
	text-decoration:none;
	font-size: 14px;
}
.right03 a:hover{
	color:#007b53;
	text-decoration:underline;
	font-size: 14px;
}

.left{ float: left;  height: 18px;	padding-top: 2px;}

/* css 头部文件_导航 */
.top{
margin: 2px auto;
width: 910px;
clear:both;
}

.top_left{
float:left;
margin: 0px auto;
width: 174px;
height: 82px;
background-image: url(/images/cer.net/kaoyan/1202/logo_kaoyan.jpg);
}

.top_right{
float:right;
margin: 0px auto;
width: 736px;
height: 82px;
}

/* css 头部文件_导航第一行 */

.top_right01{
float:right;
margin: 0px auto;
width: 736px;
height: 31px;
}

.top_right01_zxdy{
float:left;
margin: 0px auto;
width: 56px;
height: 23px;
padding: 8px 0px 0px 28px;
text-align:left;
background-image: url(/images/cer.net/kaoyan/1202/bg_dayi.jpg);
}

.top_right01_cjwt{
float:left;
margin: 0px auto;
width: 56px;
height: 23px;
padding: 8px 0px 0px 28px;
text-align:left;
background-image: url(/images/cer.net/kaoyan/1202/bg_wenti.jpg);
}

.top_right01_zndt{
float:left;
margin: 0px auto;
width: 52px;
height: 23px;
padding: 8px 0px 0px 32px;
text-align:left;
background-image: url(/images/cer.net/kaoyan/1202/bg_ditu.jpg);
}

.top_right01_lxbj{
float:left;
margin: 0px auto;
width: 173px;
height: 23px;
padding: 8px 0px 0px 37px;
text-align:left;
background-image: url(/images/cer.net/kaoyan/1202/bg_lianxi.jpg);
}

.top_right01_sousuo{
float:left;
margin: 0px auto;
width: 244px;
height: 27px;
padding: 4px 0px 0px 30px;
text-align:left;
background-image: url(/images/cer.net/kaoyan/1202/bg_sousuo.jpg);
}

/* css 头部文件_导航第二行 */

.top_right02{
float:right;
margin: 0px auto;
width: 736px;
height: 51px;
}

.top_right02_bg01{
float:left;
margin: 0px auto;
width: 179px;
height: 47px;
padding: 4px 0px 0px 0px;
text-align:center;
background-image: url(/images/cer.net/kaoyan/1202/bg_zdh01.jpg);
}

.top_right02_bg02{
float:left;
margin: 0px auto;
width: 185px;
height: 47px;
padding: 4px 0px 0px 0px;
text-align:center;
background-image: url(/images/cer.net/kaoyan/1202/bg_zdh02.jpg);
}

.top_right02_bg03{
float:left;
margin: 0px auto;
width: 185px;
height: 47px;
padding: 4px 0px 0px 0px;
text-align:center;
background-image: url(/images/cer.net/kaoyan/1202/bg_zdh03.jpg);
}

.top_right02_bg04{
float:left;
margin: 0px auto;
width: 187px;
height: 47px;
padding: 4px 0px 0px 0px;
text-align:center;
background-image: url(/images/cer.net/kaoyan/1202/bg_zdh04.jpg);
}

/* css 第一屏 */

.main01{
margin: 0px auto;
width: 910px;
clear:both;
}

.main01_left{
float:left;
margin: 0px auto;
width: 317px;
}

.main01_center{
float:left;
margin: auto 6px;
width: 354px;
}

.main01_right{
float:right;
margin: 0px auto;
width: 212px;
}

/* css 第一屏-左 */

.main01_left{
float:left;
margin: 0px auto;
width: 317px;
}

.main01_left_01{
float:left;
margin: 0px 1px 0px 0px;
width: 77px;
}

.main01_left_bg01{
float:left;
margin: 0px 0px 1px 0px;
width: 77px;
height: 29px;
text-align:left;
background-color: #368f5c;
}

.main01_left_bg01 a {
	display: block; width: 69px; height: 20px; text-align: left; padding: 9px 0px 0px 8px;
}
.main01_left_bg01 a:link, .main01_left_bg01 a:visited {
	background: #368f5c; color: #ffffff; text-decoration: none
}

.main01_left_bg01 a:hover, .main01_left_bg01:active {
	background: #ffffff; color: #368f5c; text-decoration: none
}

.main01_left_bg02{
float:left;
margin: 0px 0px 1px 0px;
width: 77px;
height: 29px;
text-align:left;
background-color: #00bf60;
}
.main01_left_bg02 a {
	display: block; width: 69px; height: 20px; text-align: left; padding: 9px 0px 0px 8px;
}
.main01_left_bg02 a:link {
	background: #00bf60; color: #ffffff; text-decoration: none
}
.main01_left_bg02 a:visited {
	background: #00bf60; color: #ffffff; text-decoration: none
}
.main01_left_bg02 a:hover {
	background: #ffffff; color: #368f5c; text-decoration: none
}

.main01_left_bg02:active {
	background: #ffffff; color: #368f5c; text-decoration: none
}

.main01_left_bg03{
float:left;
margin: 0px 0px 1px 0px;
width: 77px;
height: 29px;
text-align:left;
background-color: #3cce9e;
}
.main01_left_bg03 a {
	display: block; width: 69px; height: 20px; text-align: left; padding: 9px 0px 0px 8px;
}
.main01_left_bg03 a:link {
	background: #3cce9e; color: #ffffff; text-decoration: none
}
.main01_left_bg03 a:visited {
	background: #3cce9e; color: #ffffff; text-decoration: none
}
.main01_left_bg03 a:hover {
	background: #ffffff; color: #368f5c; text-decoration: none
}
.main01_left_bg03:active {
	background: #ffffff; color: #368f5c; text-decoration: none
}

.main01_left_02{
float:right;
margin: 0px auto;
width: 239px;
}

.main01_left_02_pic{
margin: 0px auto;
width: 231px;
height: 249px;
text-align:center;
padding: 4px;
background-image: url(/images/cer.net/kaoyan/1202/pic_bg.jpg);
clear:both;
}

.main01_left_02_pic01{
margin: 1px auto;
width: 237px;
height: 52px;
text-align:center;
padding: 0px;
border: 1px solid #ccc;
clear:both;
}

.main01_left_02_pic02{
margin: 1px auto;
width: 237px;
height: 76px;
text-align:left;
padding: 0px 0px 0px 2px;
background-image: url(/images/cer.net/kaoyan/1202/left_news.jpg);
background-repeat: repeat-x;
clear:both;
}

.main01_left_02_pic02 li{
padding-left:10px;padding-top:2px;
background:url(/images/cer.net/kaoyan/1202/dot_333.gif) no-repeat;
}

.main01_left_jyjl{
margin: 2px auto;
width: 281px;
height: 22px;
text-align:left;
padding: 6px 0px 0px 36px;
background-image: url(/images/cer.net/kaoyan/1202/jyjl_bg.jpg);
clear:both;
}

.main01_left_jyjl01{
margin: 0px auto;
width: 317px;
height: 83px;
text-align:left;
padding: 0px;
background: #edfcda;
}

.main01_left_jyjl01_pic{
float:left;
margin: 2px auto;
width: 104px;
text-align:center;
padding: 0px;
}

.main01_left_jyjl01_text{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
float:right;
margin: 2px auto;
width: 213px;
text-align:left;
padding: 0px;
}
.main01_left_jyjl01_text li{
padding-left:10px;padding-top:2px;
background:url(/images/cer.net/kaoyan/1202/dot_333.gif) no-repeat;
}

/* css 第一屏-中 */

.main01_center_biaoti{
margin: 0px auto;
width: 350px;
height: 20px;
color: #006600;
font-size: 16px;
text-align:center;
padding: 9px 0px 0px 0px;
font-family: 黑体;
clear:both;
}

.main01_center_list{
margin: 3px auto;
width: 358px;
height: 64px;
text-align:left;
padding: 5px 0px 0px 8px;
background-image: url(/images/cer.net/kaoyan/1202/center_news.jpg);
background-repeat: repeat-x;
clear:both;
}

.main01_center_list01{
margin: 3px auto;
width: 360px;
height: 30px;
text-align:center;
padding: 8px 0px 0px 8px;
background: #f4fdee;
clear:both;
}

/* css 第一屏-中标签 */

.main01_center_biaoqian{
margin: 5px 0px 1px 0px ;
width: 366px;
height: 24px;
text-align:left;
padding: 0px;
clear:both;
}

.main01_center_biaoqian ul {
padding:0px 0px 0px 0px; 
}

.main01_center_biaoqian li {
list-style-position: inside; float: left; text-align: left; padding:0px; 
}

.main01_center_biaoqian li a {
margin: 0px;
display: block; 
padding: 6px 0px 0px 0px; 
width: 91px;
height: 18px; 
text-decoration: none;
text-align:center;
text-decoration:none;
font-size: 14px;
font-weight: bold;
}

.main01_center_biaoqian li a.bq01 {
	background: url(/images/cer.net/kaoyan/1202/center_bq01.jpg);
	cursor: pointer;
	color:#fff;
}
.main01_center_biaoqian li a.bq02 {
	background: url(/images/cer.net/kaoyan/1202/center_bq02.jpg);
	cursor: pointer;
	color:#666;}

.main01_center_list02{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
margin: 0px auto;
width: 354px;
text-align:left;
padding: 6px 6px 3px 6px;
border: 1px solid #2cb94a;
line-height: 18px;
}
	
.main01_center_list02 li{
padding-left:10px;padding-top:2px;
background:url(/images/cer.net/kaoyan/1202/dot_333.gif) no-repeat;
}
	
.main01_center_list02 li a:link, .main01_center_list02 li a:visited{
	color:#333;
	text-decoration:none;
	font-size: 14px;
}
.main01_center_list02 li a:hover{
	color:#ff6600;
	text-decoration:none;
	font-size: 14px;
}

.more{
margin: 0px auto;
width: 320px;
height: 12px;
text-align:right;
color:#30b051;
padding: 8px 0px 0px 0px;
}

.more a:link, .more a:visited{
	color:#30b051;
	text-decoration:none;
	font-size: 12px;
}
.more a:hover{
	color:#30b051;
	text-decoration:underline;
	font-size: 12px;
}



/* css 第一屏-右小编推荐 */
	
.main01_right_tuijian{
margin: 0px auto;
width: 147px;
height: 17px;
text-align:left;
padding: 12px 0px 0px 65px;
background: url(/images/cer.net/kaoyan/1202/right_tuijian.jpg);
clear:both;
}	

.main01_right_ksdaohang{
margin: 0px auto;
width: 192px;
height: 22px;
text-align:left;
padding: 8px 0px 0px 20px;
background: url(/images/cer.net/kaoyan/1202/right_daohang.jpg);
clear:both;
}

.main01_right_paiming01{
margin: 0px auto;
width: 182px;
height: 19px;
text-align:left;
padding: 4px 0px 0px 30px;
background: url(/images/cer.net/kaoyan/1202/right_pm01.jpg);
clear:both;
}

.main01_right_paiming02{
margin: 0px auto;
width: 182px;
height: 20px;
text-align:left;
padding: 3px 0px 0px 30px;
background: url(/images/cer.net/kaoyan/1202/right_pm02.jpg);
clear:both;
}

.main01_right_paiming03{
margin: 0px auto;
width: 182px;
height: 20px;
text-align:left;
padding: 3px 0px 0px 30px;
background: url(/images/cer.net/kaoyan/1202/right_pm03.jpg);
clear:both;
}

.main01_right_paiming04{
margin: 0px auto;
width: 182px;
height: 20px;
text-align:left;
padding: 3px 0px 0px 30px;
background: url(/images/cer.net/kaoyan/1202/right_pm04.jpg);
clear:both;
}

.main01_right_paiming05{
margin: 0px auto;
width: 182px;
height: 20px;
text-align:left;
padding: 3px 0px 0px 30px;
background: url(/images/cer.net/kaoyan/1202/right_pm05.jpg);
clear:both;
}

/* css 第一屏-右在线答疑 */	

.main01_right_dayi{
margin: 3px auto;
width: 196px;
height: 24px;
text-align:left;
padding: 5px 0px 0px 16px;
background: url(/images/cer.net/kaoyan/1202/right_dayi.jpg);
clear:both;
}

.main01_right_dayi01{
margin: 0px auto;
width: 212px;
text-align:left;
padding: 0px;
}		
.main01_right_dayi01 li{
padding-left:10px;padding-top:2px;
background:url(/images/cer.net/kaoyan/1202/dot_333.gif) no-repeat;
}
	
.main01_right_dayi01a{
float:left;
margin: 0px auto;
width: 166px;
text-align:left;
padding: 0px;

}
.main01_right_dayi01a li{
padding-left:10px;padding-top:2px;
background:url(/images/cer.net/kaoyan/1202/dot_333.gif) no-repeat;
}

.main01_right_dayi01b{
float:right;
margin: 0px auto;
width: 46px;
height: 20px;
text-align:center;
padding-top: 2px;

}
/* css 第一屏-右考研同盟博客圈 */	
	
.main01_right_blog{
margin: 0px auto;
width: 212px;
text-align:left;
padding: 0px;
}		
.main01_right_blog li{
padding-left:10px;padding-top:2px;
background:url(/images/cer.net/kaoyan/1202/dot_333.gif) no-repeat;
}

/* css 第一屏-右电子周刊 */				
.main01_right_eweekly{
margin: 0px auto;
width: 212px;
height: 29px;
text-align:center;
padding: 40px 0px 0px 0px;
background: url(/images/cer.net/kaoyan/1202/eweekly_bg.jpg);
clear:both;
}	

/* css 第一屏-左数据库 */	

.main01a{
margin: 2px auto;
width: 910px;
clear:both;
}

.main01a_left{
float:left;
margin-right: 6px;
width: 692px;
}	
		
.main01a_left_sjk01{
float:left;
margin-right: 0px;
width: 692px;
}	

.main01a_left_sjk_l{
float:left;
margin: 0px auto;
width: 368px;
height: 23px;
padding: 3px 0px 0px 6px; 
background: url(/images/cer.net/kaoyan/1202/sjk_bg.jpg);
}

.main01a_left_sjk_l ul {
padding:0px 0px 0px 0px; 
}

.main01a_left_sjk_l li {
list-style-position: inside; float: left; text-align: left; padding:0px; 
}

.main01a_left_sjk_l li a {
margin: 0px;
display: block; 
padding: 6px 0px 0px 0px; 
width: 86px;
height: 17px; 
text-decoration: none;
text-align:center;
	text-decoration:none;
	font-size: 14px;
	font-weight: bold;
}

.main01a_left_sjk_l li a.bq01a {
	background: url(/images/cer.net/kaoyan/1202/sjk_bq01.jpg);cursor: pointer;
	color:#fff;
}
	
.main01a_left_sjk_l li a.bq02a {
	background: url(/images/cer.net/kaoyan/1202/sjk_bq02.jpg);cursor: pointer;
	color:#666;
}

.main01a_sjk01{
margin: 0px auto;
width:690px;
height: 52px;
text-align:center;
padding: 20px 0px 0px 0px;
border: 1px solid #289346;
line-height: 0px;
background-color: #fafafa;
}

.main01a_left_sjk_r{
float:right;
margin: 0px auto;
width: 223px;
height: 20px;
text-align:left;
padding: 6px 0px 0px 95px;
background: url(/images/cer.net/kaoyan/1202/sjk_bg01.jpg);
}	

				
.main01a_right_gjc{
float:right;
margin: auto 0px;
width: 212px;

}
		
.main01a_right_gjc01{
margin: 0px auto;
width: 192px;
height: 18px;
text-align:left;
padding: 5px 0px 0px 20px;
background: url(/images/cer.net/kaoyan/1202/gjc_bg.jpg);
}	

.main01a_right_gjc02{
margin: 0px auto;
width: 192px;
text-align:left;
padding: 7px 10px 7px 10px;
background-color: #f4f4f4
}



/* css 第一屏广告位 */	
	
.main_pic{
margin: 0px auto;
width: 910px;
clear:both;
}

.main_pic img{margin:3px 4px 5px 0px;}	


/* css 考研专区 */	

.kyzq_left{
float:left;
margin: 0px auto;
width: 163px;
height: 20px;
text-align:left;
padding: 8px 0px 0px 50px;
background: url(/images/cer.net/kaoyan/1202/kyzq_bg01.jpg);
}	


.kyzq_right{
float:right;
margin: 0px auto;
width: 697px;
height: 20px;
text-align:left;
padding: 8px 0px 0px 0px;
background: url(/images/cer.net/kaoyan/1202/kyzq_bg02.jpg);
}	


.kyzq_left01{
float:left;
margin: 0px auto;
width: 197px;
}
	
.kyzq_tjyx{
margin: 0px auto;
width: 162px;
height: 19px;
text-align:left;
padding: 9px 0px 0px 35px;
background: url(/images/cer.net/kaoyan/1202/tjyx_bg.jpg);
}	

	
.kyzq_tjyx_pic{
margin: 0px auto;
width: 181px;
height: 121px;
text-align:left;
padding: 8px 0px 0px 16px;
background: url(/images/cer.net/kaoyan/1202/tjyx_bg01.jpg);
}	

	
.kyzq_tjyx_list{
margin: 0px auto;
width: 177px;
text-align:left;
padding: 5px 10px 5px 10px;
background: url(/images/cer.net/kaoyan/1202/tjyx_bg02.jpg);
background-repeat: repeat-y;
}

.kyzq_tjyx_list li{
padding-left:10px;padding-top:2px;
background:url(/images/cer.net/kaoyan/1202/dot_333.gif) no-repeat;
}	

	
.kyzq_tjyx_list01{
margin: 0px auto;
width: 197px;
text-align:center;
padding: 2px 0px 2px 0px;
background: url(/images/cer.net/kaoyan/1202/tjyx_bg02.jpg);
background-repeat: repeat-y;
}
	
.kyzq_bottom{
margin: 0px auto;
width: 197px;
height: 15px;
background: url(/images/cer.net/kaoyan/1202/tjyx_bg03.jpg);
}	

.kyzq_right01{
float:right;
margin: 7px 0px 0px 9px;
width: 704px;
}

.kyzq_right01a{
float:right;
margin: 3px 0px 0px 0px ;
width: 704px;
}	
	

.kyzq_right01_l{
float:left;
margin-top: 0px auto;
width: 321px;
padding: 0px;
}
	
.kyzq_right_xwkb{
margin: 0px auto;
width: 308px;
height: 21px;
text-align:left;
padding: 4px 0px 0px 13px;
background: url(/images/cer.net/kaoyan/1202/kyzq_bg03.jpg);
}

.kyzq_right_xwkb_list{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
margin: 2px auto;
width: 311px;
text-align:left;
padding: 5px;
line-height: 18px;
}

.kyzq_right_xwkb_list li{
padding-left:10px;padding-top:2px;
background:url(/images/cer.net/kaoyan/1202/dot_333.gif) no-repeat;
}

.kyzq_right_xwkb_list li a:link, .kyzq_right_xwkb_list li a:visited{
	color:#333;
	text-decoration:none;
	font-size: 14px;
}
.kyzq_right_xwkb_list li a:hover{
	color:#ff6600;
	text-decoration:none;
	font-size: 14px;
}

		
.kyzq_right01_r{
float:right;
margin: 0px 0px 0px 8px;
width: 375px;
padding: 0px;
text-align:center;
background: url(/images/cer.net/kaoyan/1202/kyzq_bg04.jpg);
background-repeat: repeat-y;
}

.kyzq_right_fangtan{
margin: 0px auto;
width: 334px;
height: 20px;
padding: 5px 0px 0px 20px;
text-align:left;
background: url(/images/cer.net/kaoyan/1202/kyzq_fangtan.jpg);
}

.kyzq_right_fangtan01{
margin: 0px auto;
width: 354px;
height: 76px;
padding: 0px;
text-align:left;
border: 1px solid #92e773;
background-color: #fff;
clear:both;
}

.kyzq_right_fangtan01a{
margin: 0px auto;
width: 354px;
height: 80px;
padding: 0px;
text-align:left;
border: 1px solid #92e773;
background-color: #fff;
clear:both;
}

.fangtan_list{
float:left;
margin: 0px auto;
width: 225px;
padding: 10px 0px 0px 10px;
text-align:left;
}

.fangtan_list01{
float:left;
margin: 0px auto;
width: 225px;
padding: 5px 0px 0px 10px;
text-align:left;
}

.fangtan_pic{
float:right;
margin: 0px auto;
width: 117px;
padding: 5px 0px 0px 0px;
text-align:center;
}

.fangtan_pic01{
float:right;
margin: 0px auto;
width: 117px;
padding: 10px 0px 0px 0px;
text-align:center;
}

.kyzq_right_zaizhiss{
margin: 5px 0px 0px 0px;
width: 334px;
height: 20px;
padding: 5px 0px 0px 20px;
text-align:left;
background: url(/images/cer.net/kaoyan/1202/zzss_bg.jpg);
}

.kyzq_right_zaizhiss01{
margin: 1px 0px 10px 0px;
width: 352px;
height: 81px;
padding: 5px 0px 0px 0px;
text-align:left;
border: 1px solid #108cc9;
background-color: #d9eef7;
clear:both;
}

.zaizhiss_list{
float:right;
margin: 0px auto;
width: 262px;
padding: 0px 0px 0px 0px;
text-align:left;
}

.zaizhiss_list li{
padding-left:10px;padding-top:2px;
background:url(/images/cer.net/kaoyan/1202/dot_333a.gif) no-repeat;
}

.zaizhiss_list li a:link, .zaizhiss_list li a:visited{
	color:#0b6ea0;
	text-decoration:none;
	font-size: 12px;
}
.zaizhiss_list li a:hover{
	color:#0b6ea0;
	text-decoration:underline;
	font-size: 12px;
}

.zaizhiss_pic{
float:left;
margin: 0px auto;
width: 90px;
padding: 0px;
text-align:center;
}

.kyzq_zsdh01{
float:left;
margin: 0px auto;
width: 280px;
height: 25px;
padding: 0px;
text-align:left;
clear:both;
}

.kyzq_zsdh01 ul {
padding:0px 0px 0px 0px; 
}

.kyzq_zsdh01 li {
	list-style-position: inside; float: left; text-align: left; padding:0px; 
}

.kyzq_zsdh01 li a {
margin: 0px 0px 0px 0px;
display: block; 
padding: 8px 0px 0px 0px; 
width: 140px;
height: 17px; 
text-decoration: none;
text-align:center;
}

.kyzq_zsdh01 li a:link, .kyzq_zsdh01 li a:visited, .kyzq_zsdh01 li a:hover{
	color:#008800;
	text-decoration:none;
	font-size: 14px;
	font-weight: bold;
}

.bq01b {
	background: url(/images/cer.net/kaoyan/1202/zsdh_bq01.jpg);cursor: pointer;}
	
.bq02b {
	background: url(/images/cer.net/kaoyan/1202/zsdh_bq02.jpg);cursor: pointer;}
	

.kyzq_zsdh02{
float:right;
margin: 0px auto;
width: 424px;
height: 25px;
padding: 0px;
text-align:left;
background: url(/images/cer.net/kaoyan/1202/zsdh_bg01.jpg);
}


.kyzq_zsdh_list{
float:right;
margin: 0px auto;
width: 682px;
padding: 10px;
text-align:left;
border: 1px solid #7ec06d;
border-top: none;
}


.kyzq_zsdh01a{
float:left;
margin: 0px auto;
width: 420px;
height: 25px;
padding: 0px;
text-align:left;
clear:both;
}

.kyzq_zsdh01a ul {
padding:0px 0px 0px 0px; 
}

.kyzq_zsdh01a li {
	list-style-position: inside; float: left; text-align: left; padding:0px; 
}

.kyzq_zsdh01a li a {
margin: 0px 0px 0px 0px;
display: block; 
padding: 8px 0px 0px 0px; 
width: 140px;
height: 17px; 
text-decoration: none;
text-align:center;
}

.kyzq_zsdh01a li a:link, .kyzq_zsdh01a li a:visited{
	color:#008800;
	text-decoration:none;
	font-size: 14px;
	font-weight: bold;
}
.kyzq_zsdh01a li a:hover{
	color:#008800;
	text-decoration:none;
	font-size: 14px;
	font-weight: bold;
}


.bq01b {
	background: url(/images/cer.net/kaoyan/1202/zsdh_bq01.jpg);cursor: pointer;}
	
.bq02b {
	background: url(/images/cer.net/kaoyan/1202/zsdh_bq02.jpg);cursor: pointer;}


.kyzq_zsdh03{
float:right;
margin: 0px auto;
width: 284px;
height: 25px;
padding: 0px;
text-align:left;
background: url(/images/cer.net/kaoyan/1202/zsdh_bg02.jpg);
}

.kyzq_zsdh_lista{
margin: 0px auto;
width: 135px;
text-align:left;
}

.kyzq_zsdh_lista li{
padding-left:10px;padding-top:2px;
background:url(/images/cer.net/kaoyan/1202/dot_333.gif) no-repeat;
}

/* css 考研专区 */	

.main02{
margin: 4px auto;
width: 904px;
height: 100px;
text-align:left;
border: 1px solid #ccc;
padding: 2px;
clear:both;
}

.guanggao_banner{
float:left;
margin: 0px auto;
width: 709px;
height: 85px;
text-align:left;
}

.guanggao_text{
float:right;
margin: 0px auto;
width: 185px;
height: 85px;
text-align:left;
padding: 0px;
}

.fxbk_left{
float:left;
margin: 0px auto;
width: 163px;
height: 20px;
text-align:left;
padding: 8px 0px 0px 50px;
background: url(/images/cer.net/kaoyan/1202/fxbk_bg01.jpg);
}	


.fxbk_right{
float:right;
margin: 0px auto;
width: 697px;
height: 20px;
text-align:left;
padding: 8px 0px 0px 0px;
background: url(/images/cer.net/kaoyan/1202/fxbk_bg02.jpg);
}	

.fxbk_msfd{
margin: 0px auto;
width: 162px;
height: 18px;
text-align:left;
padding: 10px 0px 0px 35px;
background: url(/images/cer.net/kaoyan/1202/msfd_bg.jpg);
}	

.fxbk_msfd_pic{
margin: 0px auto;
width: 182px;
height: 119px;
text-align:left;
padding: 10px 0px 0px 15px;
background: url(/images/cer.net/kaoyan/1202/msfd_bg01.jpg);
}	

.fxbk_msfd_list{
margin: 0px auto;
width: 177px;
height: 196px;
text-align:left;
padding: 3px 10px 0px 10px;
background: url(/images/cer.net/kaoyan/1202/msfd_bg02.jpg);
}

.fxbk_msfd_list li{
padding-left:10px;padding-top:2px;
background:url(/images/cer.net/kaoyan/1202/dot_333.gif) no-repeat;
}	

.fxbk_msfd_list01{
margin: 0px auto;
width: 177px;
height: 221px;
text-align:left;
padding: 2px 10px 2px 10px;
background: url(/images/cer.net/kaoyan/1202/msfd_bg03.jpg);
}
.fxbk_msfd_list01 li{
padding-left:10px;padding-top:2px;
background:url(/images/cer.net/kaoyan/1202/dot_333.gif) no-repeat;
}

.fxbk_right_l{
float:left;
margin-top: 0px auto;
width: 365px;
padding: 0px;
}
	
.fxbk_right_fx{
margin: 0px auto;
width: 350px;
height: 20px;
text-align:left;
padding: 6px 0px 0px 15px;
background: url(/images/cer.net/kaoyan/1202/fxbk_bg03.jpg);
}	

.fxbk_right_fx_list{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
margin: 2px auto;
width: 355px;
text-align:left;
padding: 5px;
line-height: 18px;
}

.fxbk_right_fx_list li{
padding-left:10px;padding-top:2px;
background:url(/images/cer.net/kaoyan/1202/dot_333.gif) no-repeat;
}

.fxbk_right_fx_list li a:link, .fxbk_right_fx_list li a:visited{
	color:#333;
	text-decoration:none;
	font-size: 14px;
}
.fxbk_right_fx_list li a:hover{
	color:#ff6600;
	text-decoration:none;
	font-size: 14px;
}

.fxbk_right_r{
float:right;
margin: 0px 0px 0px 6px;
width: 332px;
padding: 0px;
text-align:right;
background: url(/images/cer.net/kaoyan/1202/fxbk_bg04.jpg);
background-repeat: repeat-y;
}

.fxbk_dgjx{
margin: 0px auto;
width: 301px;
height: 22px;
text-align:left;
padding: 8px 0px 0px 25px;
background: url(/images/cer.net/kaoyan/1202/fxbk_bg05.jpg);
}

.fxbk_dgjx01{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
margin: 0px auto;
width: 310px;
height:139px;
text-align:left;
padding: 5px 8px 2px 8px;
line-height: 16px;
background: url(/images/cer.net/kaoyan/1202/fxbk_bg06.jpg);
}

.fxbk_dgjx01 li{
padding-left:10px;padding-top:2px;
background:url(/images/cer.net/kaoyan/1202/dot_333.gif) no-repeat;
}

.fxbk_dgjx01 li a:link, .fxbk_dgjx01 li a:visited{
	color:#333;
	text-decoration:none;
	font-size: 14px;
}
.fxbk_dgjx01 li a:hover{
	color:#ff6600;
	text-decoration:none;
	font-size: 14px;
}

.fxbk_zykfx{
margin: 3px auto;
width: 296px;
height: 25px;
text-align:left;
padding: 6px 0px 0px 30px;
background: url(/images/cer.net/kaoyan/1202/fxbk_bg07.jpg);
}


.fxbk_zykfx01{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
margin: 0px auto;
width: 315px;
text-align:left;
padding: 2px 0px 2px 8px;
line-height: 18px;
}
.fxbk_zykfx01 li{
padding-left:10px;padding-top:2px;
background:url(/images/cer.net/kaoyan/1202/dot_333.gif) no-repeat;
}


.fxbk_zykfx01 li a:link, .fxbk_zykfx01 li a:visited{
	color:#333;
	text-decoration:none;
	font-size: 14px;
}
.fxbk_zykfx01 li a:hover{
	color:#ff6600;
	text-decoration:none;
	font-size: 14px;
}

.fxbk_book{
margin-top: 3px;
width: 658px;
height: 20px;
text-align:left;
padding: 5px 0px 0px 46px;
background: url(/images/cer.net/kaoyan/1202/fxbk_book.jpg);
}
.fxbk_book01{
margin-top: 1px;
width: 684px;
height: 160px;
text-align:left;
padding: 5px 0px 0px 10px;
background-color:#f5f5f5;
}
.fxbk_book01a{
float:left;
margin-right: 12px;
width: 97px;
height: 90px;
text-align:center;
padding: 0px;
}

.zzss_left{
float:left;
margin: 0px auto;
width: 208px;
height: 20px;
text-align:left;
padding: 8px 0px 0px 50px;
background: url(/images/cer.net/kaoyan/1202/zzss_bg01.jpg);
}	

.zzss_right{
float:right;
margin: 0px auto;
width: 652px;
height: 28px;
text-align:left;
background: url(/images/cer.net/kaoyan/1202/zzss_bg02.jpg);
}	

.zzss_bklc{
margin: 0px auto;
width: 652px;
height: 28px;
text-align:left;
background: url(/images/cer.net/kaoyan/1202/zzss_bg02.jpg);
}	

.zzss_bklc_pic{
margin: 0px auto;
width: 197px;
text-align:center;
padding: 10px 0px 0px 0px;
background-color: #eafbe3;
}
	
.zzss_dongtai{
margin: 0px auto;
width: 360px;
height: 20px;
text-align:left;
padding: 5px 0px 0px 20px;
background: url(/images/cer.net/kaoyan/1202/zzss_bg03.jpg);
}
	
.zzss_dongtai_list{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
margin: 2px auto;
width: 370px;
text-align:left;
padding: 5px;
line-height: 18px;
}

.zzss_dongtai_list li{
padding-left:10px;padding-top:2px;
background:url(/images/cer.net/kaoyan/1202/dot_333.gif) no-repeat;
}

.zzss_dongtai_list li a:link, .zzss_dongtai_list li a:visited{
	color:#333;
	text-decoration:none;
	font-size: 14px;
}
.zzss_dongtai_list li a:hover{
	color:#ff6600;
	text-decoration:none;
	font-size: 14px;
}

.zzss_right_r{
float:right;
margin: 0px 0px 0px 6px;
width: 308px;
padding: 0px;
text-align:left;
background-color: #f2fdee;
}

.zzss_right_bg{
margin: 0px auto;
width: 284px;
height: 25px;
text-align:left;
padding: 5px 0px 0px 30px;
background: url(/images/cer.net/kaoyan/1202/zzss_bg04.jpg);
}


.zzss_right_bg01{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
margin: 0px auto;
width: 290px;
text-align:left;
padding: 5px;
line-height: 18px;
border: 1px solid #92e773;
background-color: #fff;
}
.zzss_right_bg01 li{
padding-left:10px;padding-top:2px;
background:url(/images/cer.net/kaoyan/1202/dot_333.gif) no-repeat;
}

.zzss_right_bg01 li a:link, .zzss_right_bg01 li a:visited{
	color:#333;
	text-decoration:none;
	font-size: 14px;
}
.zzss_right_bg01 li a:hover{
	color:#ff6600;
	text-decoration:none;
	font-size: 14px;
}

.lianjie01{
	float:left;
	margin: 0px auto;
	width: 334px;
	height: 21px;
	text-align:left;
	padding: 8px 0px 0px 30px;
	background: url(/images/cer.net/kaoyan/1202/lianjie_bg01.jpg);
}

.lianjie02{
	float:left;
	margin: 0px auto;
	width: 241px;
	height: 21px;
	text-align:left;
	padding: 8px 0px 0px 35px;
	background: url(/images/cer.net/kaoyan/1202/lianjie_bg02.jpg);
}

.lianjie03{
	float:left;
	margin: 0px auto;
	width: 235px;
	height: 23px;
	text-align:left;
	padding: 6px 0px 0px 35px;
	background: url(/images/cer.net/kaoyan/1202/lianjie_bg03.jpg);
}

.lianjie_list{
	margin: 0px auto;
	width: 908px;
	height: 88px;
	text-align:left;
	border: 1px solid #eee;
	padding: 5px 0px 5px 0px;
}

.lianjie_lista{
	float:left;
	margin: 0px auto;
	width: 358px;
	padding: 0px 0px 0px 5px;
	background: url(/images/cer.net/kaoyan/1202/lianjie_bg04.jpg);
	background-repeat: repeat-y;
}

.lianjie_lista li{
padding-left:10px;padding-top:2px;
background:url(/images/cer.net/kaoyan/1202/dot_333.gif) no-repeat;
}

.lianjie_lista li a:link, .lianjie_lista li a:visited{
	color:#006600;
	text-decoration:none;
	font-size: 12px;
}
.lianjie_lista li a:hover{
	color:#ff0000;
	text-decoration:none;
	font-size: 12px;
}

.lianjie_listb{
	float:left;
	margin: 0px auto;
	width: 272px;
	padding: 0px 0px 0px 5px;
	background: url(/images/cer.net/kaoyan/1202/lianjie_bg05.jpg);
	background-repeat: repeat-y;	
}

.lianjie_listb li{
padding-left:10px;padding-top:2px;
background:url(/images/cer.net/kaoyan/1202/dot_333.gif) no-repeat;
}

.lianjie_listc{
	float:left;
	margin: 0px auto;
	width: 263px;
	padding: 0px 0px 0px 5px;
}

.lianjie_listc li{
padding-left:10px;padding-top:2px;
background:url(/images/cer.net/kaoyan/1202/dot_333.gif) no-repeat;
}

.green12{
	font-size: 12px;
	color: #006600;
}

.grey12{
	font-size: 12px;
	color: #333333;
}


/* 内容——当前位置 */


.neirong_input{
	border: 1px solid #2C9649;
	height: 20px;
	line-height: 15px;
}
.neirong_body_black12{
font-size: 12px;color: #333;font-weight: bold;
}

.neirong_weizhi{
margin: 0px auto;
width: 900px;
height: 19px;
text-align:left;
padding: 5px 0px 0px 10px;
background-color: #46B475;
color: #FFFFFF;
}
.neirong_weizhi a:link, .neirong_weizhi a:visited{
color: #FFFFFF;
text-decoration:none;
}
.neirong_weizhi a:hover{color: #FFFFFF;
text-decoration:underline;
}
.neirong_left{
float:left;
margin: 5px 0px 0px 0px ;
padding: 0px 12px 0px 0px;
width: 600px;
}
.neirong_left01{
margin: 0px auto;
float:left;
margin: 0px auto;
border: 1px solid #46B475;
padding: 0px 0px 0px 0px;
width: 596px;
}
.neirong_biaoti{
margin: 0px auto;
padding: 30px 0px 20px 0px;
width: 570px;
text-align:center;
font-family: "黑体";
font-size: 25px;
font-weight: bold;
color: #006600;
line-height:32px;
}
.neirong_chuchu{
margin: 0px auto;
padding: 10px 0px 10px 0px;
width: 570px;
text-align:center;
color: #008800;
border: 1px solid #47B476; 
border-left: none; 
border-right: none; 
}
.neirong_gongneng{
margin: 0px auto;
padding: 10px 0px 10px 0px;
width: 570px;
text-align:center;
}
.neirong_tuijian{
margin: 0px auto;
padding: 8px 0px 8px 0px;
width: 570px;
height: 12px;
text-align:center;
background-color: #F5F5F5;
}
.neirong_tuijian01{
margin: 10px 0px 0px 0px;
padding: 10px 0px 0px 0px;
width: 568px;
border: 1px solid #47B476; 
border-top: 6px solid #47B476; 
line-height: 20px;
}
.neirong_tuijian01a{
margin: 0px auto;
padding: 0px 0px 0px 0px;
width: 568px;
line-height: 20px;
}
.neirong_tuijian01a a:link, .neirong_tuijian01a a:visited{
color:#333;
text-decoration:none;
font-family: "黑体";
font-size: 16px;
}
.neirong_tuijian01a a:hover{
color:#FF0000;
text-decoration:none;
font-family: "黑体";
font-size: 16px;
}
.neirong_tuijian01b{
margin: 0px auto;
padding: 0px 0px 0px 20px;
width: 548px;
line-height: 20px;
text-align:left;
}
.neirong_gjc01{
margin: 0px auto;
width: 570px;
height: 35px;
text-align:left;
line-height: 25px;
padding: 10px 0px 0px 0px;
}
.neirong_gjc01a{
float:left;
margin: 0px auto;
width: 453px;
text-align:left;
padding: 0px;
}
.neirong_gjc01b{
float:right;
margin: 0px auto;
width: 117px;
text-align:left;
padding: 0px 0px 0px 0px;
}
.neirong_zhengwen{
margin: 0px auto;
width: 570px;
text-align:left;
font-size: 14px;
line-height: 23px;
padding: 10px 5px 0px 5px;
}
.neirong_sousuo{
margin: 10px 2px 0px 2px ;
width: 590px;
height:24px;
text-align:center;
padding: 5px 0px 0px 0px;
background-color: #E0FACF;
font-weight: bold;
color: #006600;
}
.neirong_news{
float:left;
margin-top: 5px;
width: 578px;
height: 19px;
text-align:left;
padding: 3px 0px 0px 20px;
background-color: #46B475;
font-weight: bold;
color: #FFF;
}
.neirong_news01{
float:left;
margin: 0px auto;
width: 586px;
text-align:left;
padding: 5px;
border: 1px solid #46B475;
border-top: none;
}
.neirong_news01_l{
float:left;
margin: 0px auto;
width: 280px;
text-align:left;
padding: 2px;
}
.neirong_news01_l li{
padding-left:10px;
background:url(/images/cer.net/kaoyan/1202/dot_333.gif) no-repeat;
}
.neirong_news01_r{
float:right;
margin: 0px auto;
width: 280px;
text-align:left;
padding: 2px;
}
.neirong_news01_r li{
padding-left:10px;
background:url(/images/cer.net/kaoyan/1202/dot_333.gif) no-repeat;
}

/* 内容——右侧 */

.neirong_right{
float:right;
margin: 0px auto;
width: 298px;
}
.neirong_right_bg{
margin-top: 5px;
width: 278px;
height: 21px;
text-align:left;
padding: 9px 0px 0px 20px;
background-image: url(/images/cer.net/kaoyan/1202/neirong_r_bg.jpg);
}
.neirong_right_bg01{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
margin: 0px auto;
width: 286px;
text-align:left;
padding: 5px;
border: 1px solid #46B475;
border-top: none;
}
.neirong_right_bg01 li{
padding-left:10px;
background:url(/images/cer.net/kaoyan/1202/dot_333.gif) no-repeat;
}
.neirong_chaxun_bg{
margin-top: 5px;
width: 278px;
height: 23px;
text-align:left;
padding: 7px 0px 0px 20px;
background-color: #46B475;
}
.neirong_chaxun_bg01{
margin: 0px auto;
width: 286px;
text-align:center;
padding: 8px 0px 8px 0px;
border: 6px solid #46B475;
border-top: none;
}
.neirong_right_zt{
margin: 0px auto;
width: 286px;
height: 139px;
text-align:left;
padding: 5px;
border: 1px solid #48B477;
border-top: none;
}
.neirong_right_zt01{
float:left;
margin: 0px auto;
width: 140px;
text-align:center;
padding: 0px 0px 3px 0px;
}
.neirong_right_zt02{
float:right;
margin: 0px auto;
width: 140px;
text-align:center;
padding: 0px 0px 3px 0px;
}
a.neirong_zt:link,a.neirong_zt:visited {
color: #008800;
text-decoration: none;
font-weight: bold;
font-size: 12px;
}
a.neirong_zt:hover {
	color: #008800;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	background-color: #FFFF00;
}
.neirong_right_sm{
margin-top: 5px;
width: 282px;
text-align:left;
padding: 8px;
background-color: #F2F3F4;
}
body_16{font-size: 16px;}
body_14{font-size: 14px;}
#pagenav,#pagenav2 {height:40px;line-height:40px;font-size:12px;}
a.npl {cursor:default;color:#000;text-decoration:none;border:1px solid #ccc;padding:2px 6px;background:#fff;} /*non page link*/
a.cpl {cursor:default;color:#fff;text-decoration:none;border:1px solid #ccc;padding:2px 6px;background:#666;} /*current page link*/
a.pl:link {color:#c30;text-decoration:none;border:1px solid #c30;padding:2px 6px;background:#fff;}
a.pl:visited {color:#c30;text-decoration:none;border:1px solid #c30;padding:2px 6px;background:#fff;}
a.pl:hover,a.pl:active {color:#c30;text-decoration:none;border:1px solid #c30;padding:2px 6px;background:#efefef;}

/*列表页*/
.list_biaoti{
margin: 0px auto;padding: 25px 90px 0px 30px;
width: 445px;height:38px;
text-align:left;
font-size: 14px;font-weight: bold;color: #37935F;line-height:22px;
background: url(/images/cer.net/kaoyan/1202/list_bg01.jpg) no-repeat 0px 16px;
}
.list_l{
width: 540px;
padding: 0px 20px 0px 30px;
text-align:left;
font-size: 14px;
line-height:22px;
}
.list_l li{padding-left:10px;background:url(/images/cer.net/kaoyan/1202/dot_333.gif) no-repeat;}
.list_l p{margin:0px;}
.body_left{float:left}
.body_right{float:right}