.un {
	TEXT-DECORATION: underline
}
.un A {
	TEXT-DECORATION: underline
}
#menu {
	PADDING-RIGHT: 10px; COLOR: #dd7f2d
}
#menu A {
	FONT-WEIGHT: bold; COLOR: #dd7f2d
}
.ge1 {
	MARGIN-BOTTOM: 4px
}
.ge2 {
	MARGIN-BOTTOM: 4px
}
.more A {
	VERTICAL-ALIGN: top; COLOR: #ffffff; LINE-HEIGHT: 20px
}
.pic1 IMG {
	BORDER-RIGHT: #c3dce1 2px solid; BORDER-TOP: #c3dce1 2px solid; BORDER-LEFT: #c3dce1 2px solid; BORDER-BOTTOM: #c3dce1 2px solid
}
.pic2 IMG {
	BORDER-RIGHT: #c3dce1 3px solid; BORDER-TOP: #c3dce1 3px solid; BORDER-LEFT: #c3dce1 3px solid; BORDER-BOTTOM: #c3dce1 3px solid
}
.pic2 TD {
	VERTICAL-ALIGN: bottom; COLOR: #000000; LINE-HEIGHT: 14px
}
.pic3 IMG {
	BORDER-RIGHT: #c8c8c8 3px solid; BORDER-TOP: #c8c8c8 3px solid; BORDER-LEFT: #c8c8c8 3px solid; BORDER-BOTTOM: #c8c8c8 3px solid
}
.pic4 IMG {
	BORDER-RIGHT: #efefef 1px solid; BORDER-TOP: #efefef 1px solid; BORDER-LEFT: #efefef 1px solid; BORDER-BOTTOM: #efefef 1px solid
}
.b {
	FONT-WEIGHT: bold
}
.blue {
	COLOR: #10487a
}
.blue A {
	COLOR: #10487a
}
.blue2 {
	COLOR: #5d81a3
}
.blue2 A {
	COLOR: #5d81a3
}
.blue3 {
	COLOR: #357087
}
.blue3 A {
	COLOR: #357087
}
.blue4 {
	COLOR: #001eff
}
.blue4 A {
	COLOR: #001eff
}
.bai {
	COLOR: #ffffff
}
.bai A {
	COLOR: #ffffff
}
.hei {
	COLOR: #000000
}
.hei A {
	COLOR: #000000
}
.red {
	COLOR: #ff0000
}
.red A {
	COLOR: #ff0000
}
A.red {
	COLOR: #ff0000
}
.red2 {
	COLOR: #f04e22
}
.red2 A {
	COLOR: #f04e22
}
.hei {
	COLOR: #000
}
.hei A {
	COLOR: #000
}
.hui {
	COLOR: #999999
}
.hui A {
	COLOR: #999999
}
.lv {
	FONT-WEIGHT: bold; COLOR: #54896e
}
.lv A {
	FONT-WEIGHT: bold; COLOR: #207488
}
.lv2 {
	COLOR: #207488
}
.lv2 A {
	COLOR: #207488
}
.cheng {
	COLOR: #dc5d00
}
.cheng A {
	COLOR: #dc5d00
}
.more {
	VERTICAL-ALIGN: bottom; COLOR: #2687a4; LINE-HEIGHT: 22px
}
.more A {
	VERTICAL-ALIGN: bottom; COLOR: #2687a4; LINE-HEIGHT: 22px
}
.f12 {
	FONT-SIZE: 12px
}
.f14 {
	FONT-SIZE: 14px; LINE-HEIGHT: 26px
}
.f14 TD {
	FONT-SIZE: 14px; LINE-HEIGHT: 26px
}
.f20 {
	FONT-SIZE: 20px; LINE-HEIGHT: 30px
}
.f20 TD {
	FONT-SIZE: 20px; LINE-HEIGHT: 30px
}
.k2 {
	TEXT-INDENT: 2em
}
.hg24 {
	LINE-HEIGHT: 24px
}
.hg24 TD {
	LINE-HEIGHT: 24px
}
.pad1 {
	PADDING-LEFT: 10px
}
.pad2 {
	PADDING-LEFT: 13px
}
.pad3 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.bg1 {
	BACKGROUND-POSITION: right top; FONT-SIZE: 18px; VERTICAL-ALIGN: top; COLOR: #ffffff; LINE-HEIGHT: 34px; BACKGROUND-REPEAT: no-repeat;}
.bg2 {
	BACKGROUND-POSITION: right bottom; BACKGROUND-REPEAT: no-repeat
}
.bx {
	BACKGROUND-REPEAT: repeat-x
}
.by {
	BACKGROUND-REPEAT: repeat-y
}
.bno {
	BACKGROUND-IMAGE: none
}
.bn {
	BACKGROUND-REPEAT: no-repeat
}
.bt {
	BACKGROUND-POSITION: 50% top
}
.bb {
	BACKGROUND-POSITION: 50% bottom
}
.br {
	BACKGROUND-POSITION: right 50%
}
.bl {
	BACKGROUND-POSITION: left 50%
}
.bc {
	BACKGROUND-POSITION: center 50%; BACKGROUND-REPEAT: repeat-x
}
.line1 {
	BORDER-RIGHT: #c3dce1 1px solid; BORDER-TOP: #c3dce1 1px solid; BORDER-LEFT: #c3dce1 1px solid; BORDER-BOTTOM: #c3dce1 1px solid
}
.line2 {
	BORDER-BOTTOM: #c3dce1 1px solid
}
.line3 {
	BORDER-RIGHT: #54896e 1px solid; BORDER-TOP: #54896e 1px solid; BORDER-LEFT: #54896e 1px solid; BORDER-BOTTOM: #54896e 1px solid
}
.line4 {
	BORDER-BOTTOM: #54896e 2px solid
}
.tit1 {
	BACKGROUND-POSITION: 0px 3px; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 5px; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: center
}
.tit1 TD {
	BACKGROUND-POSITION: 0px 3px; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 5px; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: center
}
.tit1 A {
	BACKGROUND-POSITION: 0px 3px; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 5px; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: center
}
.bt1 {
	BORDER-RIGHT: #207488 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #207488 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(http://mat1.qq.com/edu/kaoyan/bt1.gif); PADDING-BOTTOM: 0px; BORDER-LEFT: #207488 1px solid; WIDTH: 74px; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #207488 1px solid; LETTER-SPACING: 4px; HEIGHT: 22px
}
