.banner{
	background: url(../images/mbanner.jpg) no-repeat;
	/*height: 380px;*/
}
.fixbox{
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
}
/*添加移动css样式*/
.section{width:100%;padding-top: 10px;}
.conBox{
	padding:0px;
}
.gaishu {
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 14px;
    text-align: justify;
}
.table table td {
    height: 15px;
    border: 1px solid #adadad;
    padding: 1em 0px;
    text-align: center;
    }
 .gaishu{
 	font-size:1rem;
 }
 .c-tit{height:44px; border-top:30px solid #94cafe; text-align:center;margin-bottom: 20px;}
/*添加移动css样式*/

/*考研工具箱*/
.select-bot{
	padding: 1rem 0px;
}
.kybox-head{
	/*width: 100%;*/
	height: 48px;
	background: #94cafe;
	border-left: 28px solid #ed7c20
}
.box{
	float: left;
	margin-left: 18px;
	margin-top: 14px;
}
.word-kybox{
	float: left;
	font-size: 24px;
	color: #fff;
	line-height: 24px;
	margin-top: 12px;
	margin-left: 15px;
}
.kybox-icon{
	width: 92%;
	margin: 16px auto 0;
}
.icon-item{
	float: left;
	text-align: center;
	margin-left: 18px;
}
.icon-item+.icon-item{
	margin-left: 24px;
}
.icon-item img{
	width: 60px;
	display: block;
}
.icon-item span{
	display: block;
	font-size: 0.9rem;
	color: #424242;
	margin-top: 12px;
}
.kylist-box{
	width: 92%;
	margin: 28px auto 0;
	border: 1px solid #e6e7e7;
}
.kylist-ul{
	width: 97%;
	padding: 10px 4px;
}
.kylist-ul+.kylist-ul{
	border-top: 1px solid #e6e7e7;
}
.kylist-li{
	float: left;
	width: 100px;
	margin-left: 11px;
}
.kylist-li+.kylist-li{
	margin-left: 11px;
}
.sicon{
	float: left;
	width: 32px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.sicon img{
	width: 19px;
    height: auto;
	vertical-align: middle;
}
.sword{
	float: left;
	font-size: 0.9rem;
	color: #424242;
	line-height: 40px;
	margin-left: 7px;
}
.sword a{
	color: #424242;
}
.footer{
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background: #2281eb;
	font-size: 20px;
	color: #fff;
	margin-top: 20px;
}

/*移动端手机适配样式*/
@media screen and (min-width: 411px){
.kybox-icon {
    width: 91%;
    margin: 16px auto 0;
}
.icon-item {
    float: left;
    text-align: center;
    margin-left: 15px;
}
.kylist-ul{
	width: 100%;
	padding: 10px 0px;
}
.icon-item+.icon-item{
	margin-left: 35px;
}
}
@media screen and (max-width: 360px){
	.table table {
    width: 100%;
    border: 1px solid #adadad;
    border-collapse: collapse;
}
.kybox-icon {
    width: 92%;
    margin: 16px auto 0;
}
.icon-item {
    float: left;
    text-align: center;
    margin-left: 18px;
}
.icon-item+.icon-item{
	margin-left: 18px;
}
.kylist-li+.kylist-li {
    margin-left: 0px;
}
.kylist-li {
    float: left;
    width: 98px;
    margin-left: 7px;
}
}
@media screen and (max-width: 320px){
.kybox-icon {
    width: 100%;
    margin: 16px auto 0;
}
.icon-item {
    float: left;
    text-align: center;
    margin-left: 15px;
}
.kylist-ul{
	width: 100%;
	padding: 10px 0px;
}
.icon-item+.icon-item{
	margin-left: 17px;
}
.kylist-li+.kylist-li {
    margin-left: 0px;
}
.kylist-li {
    float: left;
    width: 95px;
    margin-left: 2px;
}
.sword{
	float: left;
	font-size: 0.9rem;
	color: #424242;
	line-height: 40px;
	margin-left: 0px;
}
}
.include{
	display: block;
}
