.item-li-b{
	height: 330px;
	font-size: 26px;
}
.wjs{
	font-size: 26px;
}
.itemhead{
	font-size: 30px;
}
.fsbz{
	font-size: 26px;
	line-height: 40px;
}
.people img{
	width: 120%;
}
.people{
	left: -20px;
	top: -8px;
}
.know-item{
	font-size: 26px;
}
.desc h3{font-size: 34px;}
.desc div{font-size: 26px;}
.wangQ span{
	font-size: 24px;
}
.itemhead2{
	font-size: 24px;
}
.include{
	display: block;
}
