/*css reset*/
@charset "UTF-8";
* { -webkit-tap-highlight-color: transparent; outline: 0; margin: 0; padding: 0; vertical-align: baseline; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; vertical-align: baseline; }
img { border: 0 none; vertical-align: top; }
i, em { font-style: normal; }
ol, ul { list-style: none; }
input, select, button, h1, h2, h3, h4, h5, h6 { font-size: 100%; font-family: inherit; }
table { border-collapse: collapse; border-spacing: 0; }
a { text-decoration: none; color: #666; }
body { margin: 0 auto; min-width: 320px; max-width: 640px; height: 100%; font-size: 14px; fon-family: -apple-system,Helvetica,sans-serif; line-height: 1.5; color: #666; -webkit-text-size-adjust: 100% !important; text-size-adjust: 100% !important; }
input[type="text"], textarea { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
/*page css*/
html,body{
	-webkit-overflow-scrolling:touch
}
.widthauto{
	width: 93%;
	margin: 0 auto;	
}
.left{
	float: left;
}
.right{
	float: right;
}
.grid{
	overflow: hidden;
}
.header{
	padding-top: 15px;
}
.header-title img{
	width: 30%;
}
.header-con{
	position: relative;
	border-bottom: 2px solid #4247ab;
}
.header-con-title{
	font-size: 32px;
	color: #4247ab;
	font-weight: 900;
}
.header-con span{
	display: inline-block;
	position: absolute;
	padding: 5px 10px;
	color: white;
	background: #4247ab;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	bottom: 7px;
	margin-left: 3%;
}
.header-li{
	display: inline-block;
	position: absolute;
	bottom: 7px;
	right: 20%;
	margin-left: 100px;
	float: right;
}
.header-li li{
	width: 6px;
	height:6px ;
	border-radius:6px ;
	display: block;
	float: left;
	background: #4247ab;
	margin-right: 2px;
}
.header-li .one{
	background: #9599e2 !important;
}
.header-li .second{
	background: #7377da !important;
}
.header-con em{
	font-size: 12px;
	font-weight: bold;
	color: #4247ab;
	position: absolute;
	bottom: 3px;
	right: 0;
	transform: scale(0.9);
}
.fighting{
	margin-top:1rem;
	background: #4247ab;
	border-radius: 5px;
	padding: 18px 0;
}
.fightingtitle{
	width: 27%;
	text-align: center;
	box-sizing: border-box;
	padding: 36px 6%;
	font-size:2rem;
	color: white;
	font-weight: bold;
}
.fightingtitle p{
	width: 48px;
}
.fightingcon{
	width: 70%;
}
.fightingcon-title{
	font-size: 1.15rem;
	color: white;
	text-align: left;
	font-weight: bold;
}
.fightingcon-con{
	color: white;
	margin-top: 15px;
	line-height:1.25rem;
	font-size: 1rem;
}
.term{
	margin-top: 22.8px;
}
.term-title{
	text-align: center;
	font-size: 19px;
	color: #4247ab;
	font-weight: bold;
}
.termpart{
	margin-top: 17px;
}
.termpart img{
	width: 18%;
	margin-top: 3%;
}
.termpart span{
	display: inline-block;
	width: 80%;
	padding: 8px;
	background: #f5f4ff;
	font-weight: bold;
	font-size:14px;
	box-sizing: border-box;
}
.require{
	    margin-top: 22.8px;
}
.requirebox{
	width: 94%;
	border-left: 2px solid #4247ab;
	float: right;
	position: relative;
}
.requirebox img{
	width: 18%;
	position: absolute;
	left: -6%;
	top:38%;
}
.requirebox span{
	display: inline-block;
	position: absolute;
	font-size: 30px;
	color: white;
	font-weight:bold ;
	left: -4.5%;
    top: 38%;
}
.require-part{
	width: 87%;
	background:#f5f4ff;
	float: right;
	box-sizing: border-box;
	padding: 16px 9px;
	margin-top: 18px;
}
.require-parttitle{
	font-size: 16px;
	font-weight: bold;
	color: #4c4c4c;
}
.require-partcon{
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
}

.require-title{
	margin-bottom: 6px;
}
.attention-tip{	
    margin-top: 22.8px;
    background: #f5f4ff;
    padding: 12px;
    color: #4c4c4c;
    font-size: 16px;
}
.attention-list{
    margin-top: 22.8px;	
    width: 100%;
}
.attention-list li{
	width: 18%;  
    padding: 7.5px 0px;
	display: block;
	float: left;
	font-size: 14px;
	color: white;
	font-weight: bold;
	border-radius: 5px;	
	text-align: center;
}
.attention-list .purple{
	background: #a569a5;
	margin-right: 0 !important;
	float: right !important;
}
.attention-list .green{
	background: #1cbe95;
}
.attention-list .blue{
	background: #359bdd;
}
.attention-list .yellow{
	background: #ffd217;
}
.attention-list .orange{
	background: #ff8367;
}
.attention-list .blue,.attention-list .yellow,.attention-list .orange{
	margin-left:2.5%;
}
.attention-listtxt{
	margin-top:24px ;
}
.attention-txt{
	position: relative;
}
.attention-txt img{
	width: 6%;
	position: absolute;
	top: -14px;
}
.upbt-1{
		left: 5%;
}
.attention-txt .attention-tip{
	margin: 0;
}
.hide{
	display: none;
}
.upbt-2{
	left: 26%;
}
.upbt-3{
	left: 47%;
}
.upbt-4{
	right: 26%;
}
.upbt-5{
	right: 5%;	
}
.school-txt{
	text-align: left;
	color: white;
	background: #4247ab;
	border-radius:2.5px ;
	padding: 12px;
	font-size: 16px;
}
.school-title{
	font-size: 15px;
	margin-top: 18px;
}
.school-table{
	overflow: hidden;
	height: 94px;
}
.school-table table{
	width: 100%;
	border-right: 1px solid #4247ab;
	border-bottom: 1px solid #4247ab;
	text-align: center;
	font-size: 14px;
	line-height: 30px;
	
}
.school-table table a{
	color: #4247ab;
}
.school-table table td{
	border-left: 1px solid #4247ab;
	border-top: 1px solid #4247ab;	
	color: #4247ab;
	border-bottom: none;
}
.tableup{
	cursor: pointer;
	text-align: center;
	color: #4247ab;
	font-weight: bold;
	font-size: 20px;
}
.look-ago{
	width: 20%;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	color: #4247ab;
	margin-top: 5px;
}
.ago ul{
	width: 80%;
	padding-bottom: 10px;
}
.ago ul li{
	display: block;
	float: left;
	width: 20%;
	font-weight: bold;
	color: white;
	text-align: center;
	background:#4247ab;border-radius: 3px;
	line-height: 33px;
	font-size: 12px;
	margin-left: 5%;
}

.ago ul li a{
	color: white;
}
.bottom {
    width:100%;
    height: 60px;
    background: #4247ab;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    margin: 0 auto;
    margin-top: 40px;
    color: white;			
}
@media only screen and (max-width: 320px){
	.look-ago{
		font-size: 13px;
	}
	.requirebox span{
		font-size: 26px;
	}
	.ago ul li{
		width: 21%;
		margin-left: 4%;
	}
	.attention-list li{
		font-size: 12px;
	}
	.header-con-title{
		font-size: 22px;
	}
	.header-con span{
		bottom: 6px;
		padding:0 5px;
	}
	.header-li{
		right: 25%;
	}
	.fightingtitle{
		font-size: 2.5rem;
	}
}
@media only screen and (min-width: 420px){
	.attention-txt img{
		top: -18px;
	}
	.fightingcon-con{
		font-size: 20px;
		line-height: 40px;
	}
	.fightingcon-title{
		text-align: center;
	}
	.term-title{
		font-size: 24px;
	}
	.fightingcon-title{
		font-size: 24px;
	}
	.termpart img{
		max-width: 82px;
		margin-top: 0;
	}
	.termpart span{
		font-size: 16px;
	}
	.require-parttitle{
		font-size: 18px;
	}
	.require-partcon{
		font-size: 16px;
		line-height: 28px;
	}
	.requirebox img{
		top: 23%;
	}
	.requirebox span{
		font-size: 32px;
		top: 32%;
		left: -3.5%;
	}
	.attention-list li{
		cursor: pointer;
		font-size: 18px;
	}
	.header-con-title{
		font-size: 36px;
	}
	.header-li li{
		width: 8px;
		height: 8px;
		border-radius: 8px;
	}
	.header-con em{
		font-size: 16px;
	}
	.look-ago{
		width: 15%;
		text-align: right;
	}
	.ago ul li{
		margin-left: 5%;
		margin-right: 0;
	}
	.fightingtitle{
		display: none;
	}
	.fightingcon{
		width: 100%;
	}
	.fighting{
		padding: 18px 20px;
		box-sizing: border-box;
	}
	.attention-tip{
		line-height: 28px;
	}
	.school-txt{
		line-height: 40px;
	}
}