body,html,img,ul,li,h1,h2,h3,h4,h5,h6,p,span,figure,figcaption{margin: 0; padding: 0;}
img{border: none;}
ul,li {list-style: none;}
a{text-decoration: none;}
a:link, a:visited, a:hover, a:active, a:focus{text-decoration: none;}

html,body{width: 100%;}
html{font-size: 14px;}
.hide{display: none}
/* --- top --- */
.top:empty + .top>img:nth-child(2){
    display: none;
}
.Phone{
  display: block;
}
.mobile{
  display: none !important;
}
.top>img:nth-child(2){width: 100%;}
/*.top{box-shadow: 0px 3px 2px lightgrey;}*/
/*.top:empty:after{
    background: url('../images/banner.jpg');
}*/
/*
.top{position: relative;}
.top>img:nth-child(2), .logo{position: absolute;}
.top>img:nth-child(2){top: 0; left: 0;}
.top .logo{top: 30px; left: 40%;}*/


.container{width: 1000px; height: auto; margin: 0 auto;}

.container .news{
    width: 100%;
    margin-top: 35px;
}
.container .news-left{
    float: left;
	width:515px;
}
.container .news-list{
    float: left;
    padding-right: 19px;
	width:237px;
}
.container .news-list ul:first-child{
    padding-bottom: 25px;
}
.container .news-left ul li{
	padding-top: 15px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;	
	/*text-align:center;*/
}
/*.container .news-left ul li.list-title {text-align:center;}*/
.container .news-list ul li.list-title a{
    font-size: 20px;
    color: #000;
    /*cursor:none;*/
}
.container .news-list ul li a{
    color: #333;
}
.container .news-list ul li a:hover{
    text-decoration: underline;
}
.container .news-list ul li.list-title a{
    text-decoration: none;
}
/*--- .news-right轮播样式 ---*/
.news-right{
    float: right;
    position: relative;
}
.news-right ul{
    width: 485px;
    height: 275px;
    overflow: hidden;
    margin-bottom: 35px;
}
.news-right ul img{
	width: 485px;
    height: 275px;
}
.news-right ul li{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.prev{
    position:absolute;
    top:45%;
    left:10px;
    padding: 5px;
    color:#fff;
    background-color: rgba(0, 0, 0, 0.5);
    cursor:pointer;
    }
.next{
    position:absolute;
    top:45%;
    right:10px;
    padding: 5px;
    color:#fff;
    background-color: rgba(0, 0, 0, 0.5);
    cursor:pointer;
}

/*cal-nav*/
.cal-nav{
    width: 100%;
    height: 40px;
    background-color: #003366;
    position: relative;
}
.cal-title{
    float: left;
    line-height: 40px;
}
.cal-title img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    vertical-align:  middle;
}
.cal-title span{
    color: #fff;
    margin: 0px 20px;
    font-weight: bold;
    vertical-align:  middle;
}
.top-nav{float: left;}
.top-nav{z-index: 1;}
.top-nav>li{
    padding: 5px 0;
}
.top-nav li{
    float: left;
    position: relative;
}
.top-nav li a{
    float:left;
    padding:7px 25px;
    color: #fff;
    font-size:12px;
    font-weight:bold;
}
.top-nav li ul{
    /*display: none;*/
    position: absolute;
    /*top:-71px; left: -20px; z-index: 1;*/
    background-color: #003366;
}
.top-nav ul li{
    float: none;
    display: block;
}
.top-nav ul a{
    width: 60px;
    display: block;
    float: none;
    color: #fff;
    text-align: center;
}
.top-nav ul a:hover{text-decoration: underline;}
.top-nav ul:before{
    content: "";
    position: absolute;
    left:45%; bottom: -6px;
    display: block;
    width: 0;
    border-top: 6px solid #003366;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.top-nav .jan div, .top-nav .feb div, .top-nav .may div,.top-nav .jun div {top:-57px;}
.top-nav .mar div {top:-100px;left:-26px;}
.top-nav .aug div, .top-nav .sep div ,.top-nav .dec div{top:-100px;} 
.top-nav .oct div {top:-41px;}
.top-nav .mar ul a {width:70px;}

.ad1-mobile{display: none;}
.ad1{
    width: 100%;
    height: 73px;
    margin: 30px 0;
}


.tab-content{
    width: 665px;
    height: 270px;
    margin-right: 30px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    float: left;
}
.tab-nav{
    width: 120px;
    margin: 0 15px;
    float: left;
}
.tab-nav li{
    width: 100%;
    height: 50px;
    background: url('../images/bg-tab2.png');
    border-radius: 5px;
    margin-top: 15px;
    display: table;
    cursor: pointer;
}
.tab-nav li a{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: #003366;
}
.tab-info{
    float: left;
}
.tab-info div{
    width: 465px;
    height: 260px;
    padding-right: 30px;
    overflow:auto;
    display: none;
}
.tab-info div.aboutnav{display: block;}
.tab-info div h3{
    text-align: center;
    padding: 20px 0;
    color: #000;
}
.tab-info div p{
    margin-bottom: 15px;
    font-weight: 500;
    color: #333;
}
.xiaoguo{
    background: url('../images/bg-tab1.png');
}
.tab-nav li:hover{
	background: url('../images/bg-tab1.png');
}
.tab-nav li.nav{
	background: url('../images/bg-tab1.png');
}

.icon-list h2, 
.icon-list div.border{display: none;}
.icon-list{
    float: left;
    width: 305px;
    height: 270px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    display: table;
}
.icon-list figure{
    float: left;
    width: 33%;
    text-align: center;
    margin-top: 25px;
}
.icon-list figure a{
    font-size: 12px;
    color: #333;
}
.icon-list figure a:hover{
    color: #003366;
}

.ad2-mobile{display: none;}
.ad2{
    width: 100%;
    overflow: hidden;
}
.ad2 a{
    width: 485px;
    height: 61px;
    margin: 30px 0 30px;
}
.ad2 a:first-child{
    float: left;
}
.ad2 a:last-child{
    float: right;
}

.border{
    width: 100%;
    margin-top: 15px;
}
.left-border{
    float: left;
    width: 27%;
    border: 1px solid #003366;
    box-sizing: border-box;
}
.right-border{
    float: right;
    width: 73%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}



.schools{width: 100%; clear: both;}
.schools h2, .topics h2{
    font-size: 18px;
    color: #003366;
}
/*--- ul-li ---*/
.schools-list{
    position: relative;
    height: 750px;
}

.schools-list .arrow-left, .schools-list .arrow-right{
  cursor: pointer;
  position: absolute;
  top: 300px;
}
.schools-list .arrow-left{
  left: 0;
}
.schools-list .arrow-right{
  right: 0;
}

.schools-list ul{
  width: 920px;
  position: absolute;
  left: 40px;
  top: 20px;
}
.schools-list ul li{
  float: left;
  width: 300px;
  margin-right: 10px;
  margin-bottom: 10px;

  position: relative;
}
.schools-list ul li:nth-child(3n){margin-right: 0;}
.schools-list ul li a{
  display: block;
  width: 100%;
  height: 100%;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.schools-list ul li:hover a{
  color: #003366;
}
.schools-list ul li img{
  width: 300px;
  height: 180px;
  border-radius: 5px;
}
.schools-list ul li span{
  display: block;
  text-align: center;
  padding: 10px 0;
}
.schools-list ul li .school-text{
  display: none;
}
.schools-list ul li .school-text .over-text{
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
    overflow: hidden;
	font-weight: normal;	
}
 
.schools-list li:hover .school-text{
  display: block;
}
.schools-list ul li .school-text{
  width: 260px;
  padding: 20px;
  height: 140px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.3);
  color: #fff;
  font-size: 12px;
  overflow: hidden;
}


.bg-button{
    margin: 40px 0;
    width: 100%;
    height: 50px;
}
.bg-button .mobile-bg-button {display:none;}
.bg-button ul li{
    float: left;
    width: 25%;
}
.bg-button ul li a{
    display: block;
    width: 200px;
    height: 45px;
    line-height: 45px;
    margin: 0 auto;
    text-align: center;
    background-image: url('../images/bg-button.png');
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #3399cc;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}



.list-pos{position: relative;height:280px;}
.list-pos div{overflow: hidden;width:860px;margin:0 auto;height:100%;position: relative;height:215px;}
.arrow-left{position: absolute; top:40%;left:0;cursor:pointer;}
.arrow-right{position: absolute; top:40%;right:0;cursor:pointer;}
.topics .topics-list{
    width: 1320px;   /*220px*图片个数*/
    height: 180px;
    padding-top: 50px;
    position: absolute;
    height:165px;
    left:-20px;
}
.topics .topics-list li{
    float: left;
    width: 200px;
    margin-left:20px;
}
.topics .topics-list img{
    width: 100%;
    transition: all 0.6s;
}
.topics .topics-list img:hover{
    transform: scale(1.1);
}

.footer{
    clear: both;
    width: 100%;

}
.footer .footer-link, .footer .footer-info{
    margin: 0 auto;
    text-align: center;
}
.footer .footer-link{
    width: 100%;
    height: 65px;
    line-height: 65px;
    background-color: #ccffff;
    margin: 45px 0;
}
.footer .footer-info{
    height: 80px;
}
.footer .footer-link span,
.footer .footer-link a,
.footer .footer-info span{
    margin-right: 35px;
    color: #333;
}
.footer .footer-link a:hover{text-decoration: underline;}
.footer .footer-info p{
    margin-top: 20px;
    color: #333;
}

/*yj添加*/
.top{
  position: relative;
  background: url(../images/bgtop.jpg) no-repeat center center !important;
  height:260px;
}
.times{
  position: absolute;
  width: 125px;
  height: 125px;
  background: url(../images/Ring.png) !important;
  top:10%;
  right:16%;
  text-align: center;
  line-height: 106px;
}
.times span{
    font-size: 35px;
    color: #2561ac;
    font-weight: bold;
}
.icon-list,.schools,.topics{
    /*padding: 0 10px;*/
    box-sizing: border-box;
}
.top-nav>li>a.active{
  display: block;
   background: #fff;
    color: #003366;
    border-radius: 25px;
}
/*轮播*/
 .swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-button-next{
    background: url(../images/arrow-right.png) no-repeat;
    background-size: 100% 100%;
    width:33px;
    height:33px;
    right: 0px;
    left: auto;
}
.swiper-button-prev {
    background: url(../images/arrow-left.png) no-repeat;
    background-size: 100% 100%;
    width:33px;
    height:33px;
    left: 0px;
    right: auto;
}
.top-nav div{
  position: absolute;
    top: -70px;
    left: -20px;
    height: 80px;
    width: 110px;
    display: none;
}

.bksygj figure a img {width:34px;}

#news_iframe_mo{
    display: none;
}
#ad2_iframe_mo{
    display: none;
}
#tab-content-icon-mo{
    display: none;
}
#bg-button-mo{
    display: none;
}
#topics_iframe_mo{
    display: none;
}
#cal_iframe_mo{
    display: none;
}