/*css reset*/
@charset "UTF-8";
* { -webkit-tap-highlight-color: transparent; outline: 0; margin: 0; padding: 0; vertical-align: baseline; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; vertical-align: baseline; }
img { border: 0 none; vertical-align: top; }
i, em { font-style: normal; }
ol, ul { list-style: none; }
input, select, button, h1, h2, h3, h4, h5, h6 { font-size: 100%; font-family: inherit; }
table { border-collapse: collapse; border-spacing: 0; }
a { text-decoration: none; color: #37715b; }
body { margin: 0 auto; min-width: 320px; max-width: 100%; height: 100%; font-size: 14px; fon-family: -apple-system,Helvetica,sans-serif; line-height: 1.5; color: #37715b; -webkit-text-size-adjust: 100% !important; text-size-adjust: 100% !important; }
input[type="text"], textarea { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
/*page css*/


/*公共布局元素样式*/
html{font-size: 10px;}
body{max-width: 100%;}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0; padding:0;}
body{font:14px/2em "微软雅黑"; background:#fff;color: black;}
i,em{font-style:normal;}
a{color:#333; text-decoration:none; cursor:pointer;}
a:hover{text-decoration:none; /*color:#1287ca;*/}
a, input, textarea{outline:none;}
img{border:0 none; display:inline-block; vertical-align:middle}
li{list-style:none;}
p{word-wrap:break-word;}
table{border-collapse:collapse; border-spacing:0;}
input[type=text], input[type=password], select, textarea{vertical-align:middle; background:none; border:none; font-family:"微软雅黑"; color:#666;}
input:focus{color:#333 !important;}
select:focus{color:#333 !important;}
textarea:focus{color:#333 !important;}
h1,h2,h3{font-weight: inherit;}
html,body{height: 100%;}
.layout{width: 90%;margin: 0 auto;}
.lanse{color: #00AEFF;}

.pckuang{width: 750px;margin: 0 auto;}
/*header*/
.header{width: 100%;height: 90px;background:#37715b;position: relative;}
.header h1{text-align: center;color: white;letter-spacing: 2px;font-size: 40px;line-height: 90px;}
.header-zhuye{position: absolute;top:30%;right: 5%;}
.header-zhuye img{width: 52px;height:44px;}

/*banner*/
.banner img{width: 100%;}

/*main*/
.main .huibai{height: 40px;background: #F0F0F0;}
.main-qiehuan{/*height: 3rem;*/padding: 3% 0 3% 0;overflow: hidden;display: flex;justify-content: space-between;flex-wrap: wrap;}
.main-qiehuan div{float: left;}
/*.main-qiehuan .zi{width: 10rem;}*/
.main-qiehuan span{font-size: 25px;}
.main-qiehuan a{font-size: 25px;}
.main-qiehuan .shuxian{font-size: 20px;color: gray;width: 13.5%;text-align: center;margin-top: -2px;}

.main-beian{display: none;}
.main-top{background: #37715b;}
.main-wenben{padding: 30px 56px;background: #37715b;color: white;line-height: 30px;letter-spacing: 2px;font-size: 24px;border-radius: 10px;}
.main-kongbai{height: 30px;}
.main-top h2{text-align: center;font-size: 36px;margin-top: 40px;font-weight: bold;margin-bottom: 10px;}
.main-top p{text-align: center;font-size: 20px;padding-bottom: 20px;}

.main-jiaoyubu{background: white;}
.main-jiaoyubu .xiala{position: relative;display: block;overflow: hidden;padding: 10px 0;margin: 20px 0 0 0;}
.main-jiaoyubu .xiala h4{float: left;padding-left: 20px;border-left: 2px solid #37715b;font-size: 28px;}
.main-jiaoyubu .xiala span{float: left;color: #37715b;font-size: 28px}
.main-jiaoyubu .xiala i{float: right;}
.main-jiaoyubu .xiala i img{width: 38px;
    height: 23px;
    position: absolute;
    right: 20px;
    top: 15px;}

.dianjichuxian{overflow: hidden;}
.dianjichuxian .huise{height: 4px;background: #f0f0f0;}
.dianjichuxian .layout{overflow: hidden;}
.dianjichuxian a{display: block;color: #37715b;font-size: 22px;width: 30%;border: 1px solid #37715b;height: 50px;border-radius: 5px;text-align: center;line-height: 50px;float: left;margin: 20px 1.2%;}
/*.dianjichuxian a:nth-child(2){margin: 20px 36px;}
.dianjichuxian a:nth-child(5){margin: 20px 36px;}
.dianjichuxian a:nth-child(8){margin: 20px 36px;}*/
.main-jiaoyubu:nth-child(2) .dianjichuxian{overflow: hidden;}

.main-bottom .huise{height: 20px;background: #f0f0f0;}
.main-bottom h2{text-align: center;font-size: 36px;margin-top: 40px;font-weight: bold;margin-bottom: 10px;}
.main-bottom p{text-align: center;font-size: 20px;padding-bottom: 20px;}
#chakanquanbu{margin-top: 40px;overflow: hidden;}
#chakanquanbu a{width: 86px;height: 43px;text-align: center;line-height: 43px;font-size: 24px;color: #ff9000;border: 1px solid #ff9000;display: block;float: left;margin-left: 30px;border-radius: 5px;margin-bottom: 20px;}
.xiaoshou{width: 280px;height: 80px;margin: 0 auto; margin-top: 36px;}
#btn{width: 220px;height: 60px;line-height: 60px;text-align: center;color: white;float: left;background: #ff9000;border: none;border: 1px solid #ff9000;border-radius: 10px;font-size: 26px;}
.xiaoshou img{float: left;width: 16%;margin-left: 10px;}



.section{width:750px; margin:0 auto;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix{zoom:1; display:inline-block; _height:1px;}
.clearfix{display:block;}
.tool{margin:30px auto 0;width: 100%;}
.tool .toolTit{border-bottom:1px solid #37715b ;overflow: hidden;padding: 10px 0;}
.tool .toolTit  h4{float: left;padding-left: 20px;border-left: 2px solid #37715b;font-size: 28px;}
.tool .toolTit  span{float: left;color: #37715b;font-size: 28px;}

.tool .toolBtn{padding:0 20px; margin:30px 0;}
.tool .toolBtn div{float:left; width:115px;}
.tool .toolBtn div + div{margin-left:83px;}
.tool .toolBtn a{display:inline-block; zoom:1; display:inline; width:115px; text-decoration:none; text-align:center;}
.tool .toolBtn p{margin-top:10px; font-size:18px;width:124px}

.toolList{}
.toolLine{border-top:1px solid #37715b; padding:10px 0}
.toolLine div{float:left; width:33.33%; font-size:18px;}
.toolLine div img{vertical-align:middle; margin-right:15px;}
.toolLine div a{display:inline-block; zoom:1; display:inline; padding:0 0 0 20px; text-decoration:none;}



.footer{width: 100%;height: 80px;background: #37715b;}
.footer .zuixia{width: 180px;height: 80px;margin: 0 auto;}
.footer h5{color: white;text-align: center;font-size: 28px;font-weight: normal;height: 32px;padding-top: 15px;}
.footer p{text-align: center;color: #37715b;margin-top: -5px;font-size: 28px;}

.myhk{
	font-size:20px;
}


.chuxian{display: block;}
.pc{display: block;}
.yidong{display: none;}
